body {
    cursor:default;
    font-family: "Segoe UI", sans-serif;
    /*font-size: 1.2rem;*/
    color: #111;
}
h1 {font-weight: 100; font-size: 5rem; margin: 5px 0; vertical-align: middle;}
h2 {font-weight: 500; }
h3 {font-weight: 500; font-size: 1.7rem; }
h2.fancy {margin-bottom: 0; margin-top: 1.25em}
h3.fancy {font-weight: 600; font-size: 2.0rem; border-bottom: 1px solid black}
/*a {text-decoration: none; color: inherit; transition: all 0.3s ease;}
a:hover {text-orientation: none}*/
footer {margin: 20px 0;}
a {text-decoration: none; transition: all 0.3s ease-in-out; }
p {margin:5px 0;}
th {text-align: right; font-weight: 600;}
td {padding-right: 1rem;}
hr {border: 1px solid #EEE; margin:10px 0;}
ul {margin-left: 25px;}
dt {font-weight: 700}
/*classes*/
.bordered {
    border: 1px solid;
    border-color: rgba(3, 37, 84, 0.2);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}
.bordered:hover {border-color: rgba(3, 37, 84, 1);}
.center {margin-left: auto; margin-right: auto;}
div.circular {
    background-color: #FFF;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    border: 2px solid #EEE;
    width: 100px;
    margin-left:auto;
    margin-right:auto;
    height:100px;
    line-height: 100px;
    transition: 0.2s all ease-in-out;
}
div.circular:hover {
    color: white;
    background-color: #003;
    box-shadow: 0px 0px 3px 0px #000;
}
div.circular:active {
    transform: rotate(45deg);
}
.darkbox {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 1rem rgba(0,0,0, 0.5);
}
.display-inline-block {display:inline-block;}
img.avatar {
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
}
img.avatar:hover {
    border-radius: 5%;
}
img.thumbnail-img {
    opacity: 1.0;
    transition: all 0.2s ease-in-out;
}
img.thumbnail-img:hover {
    opacity: 0.8;
}
.ext-link {
    border-radius: 3px;
    background-color: #FFF;
    padding: 1px 3px;
    border: 1px solid #EEE;
    transition: 0.2s all ease-in-out;
}
.ext-link:hover {
    background-color: #DDD;
    border: 1px solid #AAA
}
.navbar-inverse { border: none; background-color: #235; }
.navbar-inverse .navbar-brand { color: #DDD; }
.navbar-inverse .navbar-nav>li>a { color: #DDD; background: transparent; }
.navbar-inverse .navbar-nav>li>a:hover { background: #346; }
.navbar-inverse .navbar-nav>li>a:active { background: #346; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover { background-color: #124; }
.no-margin{margin: 0;}
.hidden {display:none;}
.innershadow {box-shadow: inset 0px 0px 20px #000000;}
.jumbotron {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-center {text-align: center;}
.pcanvas {z-index: -1;}
.thumbnail, .thumbnail:hover, .thumbnail:active {
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 800px) {
    .board {
        width: 100%;
    }
}