body {
    cursor: default;
    font-family: "Open Sans", "Segoe UI", sans-serif;
    /* font-weight: 500; */
}
footer {
    margin: 20px 0;
}

.nav-link { font-weight: 300; margin-left: 10px; margin-right: 10px;}

img.avatar {
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
}

img.avatar:hover {
    border-radius: 5%;
}

.text-center {
    text-align: center;
}

.pcanvas {
    z-index: -1;
}