/* primary */
img { max-width: 100% }
/*.btn { z-index: 1000 }*/
/*TODO:
- make Left and Right separable by class
- right classes will have: 
- timeline-block: left50% width50%
- timeline-icon: left0%
- timeline-body: width94%*/

/* timeline container */
.timeline-container { width: 100%; max-width: 1100px; margin: 0 auto; }
.timeline-container::after { content: ''; display: table; clear: both;}

/* timeline ID specific style */
.timeline {
    position: relative;
    padding: 1em 0;
    /*margin-top: 0.5em;*/
    /*margin-bottom: 2em;*/
}
.timeline::before {
    /* vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    height: 100%;
    width: 4px;
    background: #DDD;
}
.timeline-year h2 {
    display: inline-block;
    color: #AAA;
    position: relative;
    margin-bottom: 0;
    text-align: left;
    /*border-bottom: 4px dotted #DDD;*/
    border-bottom: 1px dotted #DDD;
    padding-top: 50px;
}
@media only screen and (min-width: 1100px) {
    .timeline { margin-top: 0em; /*margin-bottom: 3em;*/ }
    .timeline::before { left: 50%; margin-left: -2px; }
    .timeline-year { text-align: center }
}

/* timeline block  */
.timeline-block { position: relative; margin: 1em 0; }
/*.timeline-block { position: relative; margin: 2em 0; }*/
.timeline-block:after { content: ''; display: table; clear: both; }
.timeline-block:first-child { margin-top: 0; }
.timeline-block:last-child { margin-bottom: 0; }
@media only screen and (min-width: 1100px) {
    /*.timeline-block { margin: -4em 0; }*/
    /*.timeline-block { margin: -3em 0; }*/
    .timeline-block { margin: 0; }
    .timeline-block:first-child { margin-top: 0; }
    .timeline-block:last-child { margin-bottom: 0; }
}

/* timeline icon */
.timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 3px 1px #DDD;
}
.timeline-icon img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.timeline-icon.timeline-icon-default { background: #FFF; }
.timeline-icon.timeline-icon-primary { background: #337ab7; }
.timeline-icon.timeline-icon-success { background: #5cb85c; }
.timeline-icon.timeline-icon-info { background: #5bc0de; }
.timeline-icon.timeline-icon-warning { background: #f0ad4e; }
.timeline-icon.timeline-icon-danger { background: #d9534f; }
@media only screen and (min-width: 1100px) {
    .timeline-icon {
        width: 36px;
        height: 36px;
        left: 50%;
        margin-left: -18px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .timeline-icon.is-hidden { visibility: hidden; }
    .timeline-icon.bounce-in { visibility: visible; animation: anime-bounce 0.6s; }
}
@keyframes anime-bounce {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
           -moz-transform: scale(0.5);
            -ms-transform: scale(0.5);
             -o-transform: scale(0.5);
                transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
             -o-transform: scale(1.2);
                transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}

/* body / content */
.timeline-body {
    position: relative;
    margin-left: 55px;
    background: #F5F5F5;
    border-radius: 0.2em;
    padding: 1em;
    box-shadow: 0 3px 1px #DDD;
}
.timeline-body:after { content: ''; display: table; clear: both; }
.timeline-body h2 { color: #333; font-size: 1.5em; margin-top: 0; margin-bottom: 4px; }
.timeline-body::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 100%;
    height: 0;
    width: 0;
    border: 12px solid transparent;
    border-right-color: #EEE;
}
.timeline-body img { border-radius: 4px; box-shadow: 0 3px 1px #DDD; }
.timeline-body .timeline-date { color: #555; }
@media only screen and (min-width: 1100px) {
    .timeline-body { margin-left: 0; padding: 1em; width: 47%; }
    .timeline-body::before { top: 8px; left: 100%; border-color: transparent; border-left-color: #EEE; }
    .timeline-block:nth-child(even) .timeline-body { float: right; }
    .timeline-block:nth-child(even) .timeline-body::before {
        top: 8px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #EEE;
    }
    .timeline-body.is-hidden { visibility: hidden; }
    .timeline-body.bounce-in { visibility: visible; animation: anime-slide 0.6s; }
    .timeline-block:nth-child(even) .timeline-body.bounce-in { animation: anime-slide-inv 0.6s; }
    .timeline-body h2 { text-align: right; }
    .timeline-body .timeline-date { text-align: right; }
    .timeline-block:nth-child(even) .timeline-body h2 { text-align: left; }
    .timeline-block:nth-child(even) .timeline-body .timeline-date { text-align: left; }
}

/*timeline block animation*/
@keyframes anime-slide {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
           -moz-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
             -o-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes anime-slide-inv {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
           -moz-transform: translateX(100px);
            -ms-transform: translateX(100px);
             -o-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
}