---
# Standard front matter stuff
author: Muchen He
date: 2019-06-18
layout: default
title: Projects
titlebar: Projects
nav_active: /projects
header:
  color: '#835'
  text_color: white
  gradient: 'linear-gradient(45deg, rgba(12,80,70,1) 14%, rgba(95,154,194,1) 100%);'
  text:
  - This page contains projects that I've created or contributed to. They are ordered reverse-chronicalogically.
  - The filter below to filter through different types of projects.
---

<style>
.project-item img { width: 100% }
.project-item p.tech { line-height: 1.15; }
</style>

<div class="row">
{% for project in site.data.projects %}
	<div class="project-item {% if project.worthy %}worthy{% endif %} col-12 col-lg-4 mb-2">
	<h2>{{ project.name }}</h2>
	<p>
	{{ project.dates.start | date: "%B %Y" }}
	{% if project.dates.start != project.dates.end %} to {{ project.dates.end | date: "%B %Y" }}{% endif %}
	{% if project.onging %}(ongoing){% endif %}
	</p>
	{% if project.thumbnail %}<img src="{{ project.thumbnail }}" alt="{{ project.name }} thumbnail">{% endif %}
	<p>{{ project.description }}</p>
	{% for link in project.links %}
		<a class="btn btn-xs btn-outline-primary" href="{{ link[1] }}">{{ link[0] | capitalize }}</a>
	{% endfor %}
	<p title="Tech used" class="text-muted tech"><small>{{ project.tech | join: ', ' }}</small></p>
	</div>
{% endfor %}
</div>