---
# Standard front matter stuff
author: Muchen He
date: 2019-06-18
layout: projects
title: Projects

# Custom stuff
full_jquery: true
extra_css:
- <link rel="stylesheet" href="/assets/css/timeline.css">

# Title
titlebar: Projects
nav_active: /projects

# Header
header:
  color: '#835'
  gradient: 'linear-gradient(45deg, rgba(12,80,70,1) 14%, rgba(95,154,194,1) 100%);'
  text:
  - This page contains projects that I've created or contributed to. They are ordered reverse-chronicalogically.
  - The filter below to filter through different types of projects.
---

{% for project in site.data.projects %}
	<div>
	<h2>{{ project.name }}</h2>
	{% if project.thumbnail %}
		<img src="{{ project.thumbnail }}" alt="{{ project.name }} thumbnail">
	{% endif %}
	<p>{{ project.dates.start }} to {{ project.dates.end }}</p>
	<em>{{ project.type }}</em>
	<p>{{ project.description }}</p>
	{% for link in project.links %}
		<a class="btn btn-sm btn-outline-secondary" href="{{ link[1] }}">{{ link[0] | capitalize }}</a>
	{% endfor %}
	</div>
	<p>Tech used: {{ project.tech | join: ', ' }}</p>
{% endfor %}