body{
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 6em;
  font-weight: 100;
  text-shadow: 0 .05rem .2rem rgba(0,0,0,.5);
}

h2 {
  text-shadow: 0 .0 1rem rgba(0,0,0,.2);
}

#sketch-container {
  z-index: -1;
}
