body{
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 6em;
  font-weight: 100;
  text-shadow: 0 .05rem .2rem rgba(0,0,0,.5);
}

h2 {
  text-shadow: 0 .0 1rem rgba(0,0,0,.2);
}

canvas {
  z-index: -1;
  position: fixed;
}

.thumbnail {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #445561;
  border-radius: 10px;
  color: #445561;
  margin: 10px;
  padding: 10px;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
}

.view {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.view:hover {
  background-color: rgba(20, 20, 50, 0.8);
  border-color: #CCC;
  color: #FFF;
  text-decoration: none;
}
