---
author: Muchen He
layout: default
title: Documents
description: A collection of course notes and more

# Additional includes
extra_js:
- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" crossorigin="anonymous"></script>

titlebar: Document
nav_active: /documents
permalink: /documents

use_category_instead_of_name: false
show_footer: true
show_navigation: true

# Header
header:
  color: '#324'
  text_color: white
  gradient: 'linear-gradient(131deg, rgba(69,95,181,1) 0%, rgba(158,12,95,1) 100%);'
  text:
  - This page contains academic related notes and documents. I try to fill-in as much content as I can from the courses I've taken. ⚠ Only use content from this page as reference material and always uphold academic integrity.
  - Please feel free to contact me if there are any mistakes. Alternatively, since this website is also open-source on GitHub, I'm always open to issues and pull requests. &#x1F44C;
---

<style>
:root {
	--card-bg-color: #fff;
	--card-sep-color: #000a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--card-bg-color: #000;
		--card-sep-color: #fff4;
	}
}

.card {
    width: 100%;
    margin-bottom: 12px;
	border: none;
	background-color: var(--card-bg-color);
}
.card-header {
    background-color: transparent;
    border-bottom: none;
}
.card-body {
    border-top: 1px solid var(--card-sep-color);
    padding: 0;
	padding-top: .5em;
	
}
.card-body .list-group .list-group-item {
    border: none;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
	overflow: hidden;
	background-color: var(--card-bg-color);
}
.card-body .list-group .list-group-item .badge {
    margin-left: .5em;
}

.card-body .list-group .list-group-item .btn-entry {
	border: 1px solid var(--link-color);
	color: var(--link-color);
	margin-top: .1em;
	margin-bottom: .1em;
}
.card-body .list-group .list-group-item .btn-entry:hover {
	border-color: var(--link-hover-color);
	color: white;
	background-color: var(--link-hover-color);
}

.card-gutter-sizer { width: 0; }
@media screen and (min-width: 992px) {
    .card { width: 32%; }
    .card-gutter-sizer { width: 2%; }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.card { width: 49%; }
    .card-gutter-sizer { width: 2%; }
}
</style>

{% for category in site.data.documents %}
<section>
<h2 class='mt-4'>{{ category.category }}</h2>
<div class="card-grid">
<div class="card-gutter-sizer"></div>
{% assign courses = category.courses %}
{% for course in courses %}
	{% if course.entries %}
	<div id="{{ course.course_num | replace: ' ', '-'}}" class="card p-0">
	<div class="card-header p-0">
		<small>{{ course.course_num | upcase }}</small>
		<h3>{{ course.course_name }}</h3>
		<small>Last updated {{ course.date | default: 'never' }}</small>
	</div>
	<div class="card-body">
		<ul class='list-group list-group-flush'>

		{% for entry in course.entries %}
		<li class='list-group-item'>
		{% if entry.group %}
			{{ entry.title }}
			{% for enum_entry in entry.group %}
			<a class="btn btn-xs btn-entry" href="{{ enum_entry.link }}">{{ enum_entry.enum }}</a>
			{% endfor %}
		{% else %}
		<a href="{{ entry.link }}">{{ entry.title }}</a>
		{% endif %}

		{% if entry.flag == 'draft' %}
		<span class="badge badge-secondary">draft</span>
		{% elsif entry.flag == 'new' %}
		<span class="badge badge-success">new</span>
		{% elsif entry.flag %}
		<span class="badge badge-warning">{{ entry.flag }}</span>
		{% endif %}

		</li>
		{% endfor %}

		</ul>
	</div>
	</div>
	{% endif %}
{% endfor %}
</div>
</section>
{% endfor %}


<script>
$('.card-grid').masonry({
    itemSelector: '.card',
    gutter: '.card-gutter-sizer',
    percentPosition: true
});
</script>