# Build config
incremental: false

# Site config
title: "Muchen He"
description: "Muchen's Website"
url: https://www.muchen.ca
author: Muchen He
social:
  name: Muchen He
  links:
    - https://github.com/FSXAC
    - https://instagram.com/muchen.he

logo: "/assets/img/Logo2019small.png"

# Paginate blog
paginate: 8
paginate_path: "/blog/page:num/"

# Markdown settings
markdown: kramdown
kramdown:
  auto_ids: true
  enable_coderay: false
  hard_wrap: false
  input: GFM

# Styling
sass:
  style: compressed

# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

# Defaults
defaults:
  - scope: # default for everything across the site
      path: ""
    values:
      show_navigation: true
      show_footer: true
  - scope: # stuff under _posts folder
      path: ""
      type: "posts"
    values:
      layout: post
      excerpt_separator: <!-- excerpt -->
      nav_active: /blog
      permalink: /blog/:year/:title/
  - scope:
      path: "documents"
    values:
      layout: doc
      nav_active: /documents
      use_category_instead_of_name: true
      show_footer: false
  - scope:
      path: "documents/CPEN212"
    values:
      image: "documents/CPEN212/assets/teaser.jpg"

# Collections config
collections:
  photos:
    output: true

use_image_as_brand: false