---
author: Muchen He
date: 2019-06-19
layout: default

title: Photos
nav_active: /photos
header:
  color: '#3c5d47'
  gradient: 'linear-gradient(90deg, #420025 0%, #ffad00 100%)'
---

{% assign sorted_posts = site.photos | sort: 'date' %}
{% assign photo_posts = sorted_posts | reverse %}
{% assign photo_post = photo_posts[0] %}
<div class="jumbotron pb-3">
	<h1 class="display-4">{{ photo_post.title }}</h1>
	<p class="lead"> {{ photo_post.excerpt }}</p>
	<p><a class="btn btn-primary btn-lg" href="{{ photo_post.url }}" role="button">Take a look</a>
</div>

{% assign date-filter = "%Y" %}

{% for post in photo_posts %}
{% assign post_date = post.date | date: date-filter %}

{% if post_date != date %}

<!-- If new month/date, close off previous ul, make a new heading and new ul -->
{% unless forloop.first %}</ul>{% endunless %}
{% assign date = post_date %}
<h2>{{ post_date }}</h2>
<ul>
{% endif %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
<!-- close off ul if it's the last elemnent -->
{% if forloop.last %}</ul>{% endif %}
{% endfor %}