---
title: Photos
permalink: /photos
layout: default
nav_active: /photos
show_footer: true
---

<style>
div.photo-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
</style>

<h1>WIP</h1>

<!-- Major Projects -->
<h2>Projects</h2>
<div class="row">
{% for p in site.photos %}
{% if p.type == "project" %}
<div class="col-6">
    <a href="{{ p.url }}"><div class="ratio ratio-1x1 text-center photo-cover" style="background-image: url({{ p.cover }})"></div></a>
    <p><span class="title">{{ p.title }}</span></p>
</div>
{% endif %}
{% endfor %}
</div>

<!-- Albums -->
<h2>Albums</h2>
<div class="row">
{% for p in site.photos %}
{% if p.type == "album" %}
<div class="col-4">
    <a href="{{ p.url }}"><div class="ratio ratio-1x1 text-center photo-cover" style="background-image: url({{ p.cover }})"></div></a>
    <p><span class="title">{{ p.title }}</span></p>
</div>
{% endif %}
{% endfor %}
</div>