---
author: Muchen He
layout: resume_new
title: Resume
titlebar: Resume
nav_active: /resume
permalink: /resume_new
header:
  color: '#123'
  gradient: 'linear-gradient(105deg, rgba(17,34,51,1) 0%, rgba(12,57,105,1) 100%);'
  text:
  - Use the setting below to customize the content and layout.

use_formal_heading: false
---

{% include resume/header name=page.author %}
<!-- {% include resume/skills %} -->
{% include resume/experience %}
<!-- {% include resume/projects %} -->
<!-- {% include resume/hobbies %} -->

</body>
</html>
