<style>
label.fc-l {
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	max-width: 500px;
}

.fc-card {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	background: #123;
	position: relative;
	transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 99;
}

.fc-card div {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background: #fff;
	position: relative;
	text-align: center;
	width: 100%;
	padding: 1em;
}

.fc-card .back {
	background: #fff;
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

label.fc-l:hover .fc-card {
	box-shadow: 1em 0.5rem 1rem rgba(0,0,0,.15);
	transform: rotateY(-10deg);
	-webkit-transform: rotateY(-10deg);
}

.fc-l input {
	display: none;
}

:checked + .fc-card {
	box-shadow: 0 0.5em 1rem rgba(0,0,0,.15);
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

label.fc-l:hover :checked + .fc-card {
	box-shadow: 1em 0.5rem 1rem rgba(0,0,0,.15);
	transform: rotateY(-170deg);
	-webkit-transform: rotateY(-170deg);
}
</style>