<style>
label.fc2-l {
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	perspective: 2000px;
	-webkit-perspective: 2000px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	max-width: 500px;
}

.fc2-card {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	position: relative;
	transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	transform-style: preserve-3d;
	min-height: 100px;
	-webkit-transform-style: preserve-3d;
	z-index: 99;
}

.fc2-card div {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background: #fff;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
}

.fc2-card .back {
	background-color: #222;
	color: #ccc;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}

label.fc2-l:hover .fc2-card {
	box-shadow: 1em 0.5rem 1rem rgba(0,0,0,.15);
	transform: rotateX(10deg);
	-webkit-transform: rotateX(10deg);
}

.fc2-l input {
	display: none;
}

.fc2-card > .back > p, .fc2-card > .front > p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

:checked + .fc2-card {
	box-shadow: 0 0.5em 1rem rgba(39, 29, 29, 0.15);
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}

label.fc2-l:hover :checked + .fc2-card {
	box-shadow: 1em 0.5rem 1rem rgba(0,0,0,.15);
	transform: rotateX(170deg);
	-webkit-transform: rotateX(170deg);
}
</style>