<div class="container" style="border-bottom: 1px solid black">
<a href="/" style="text-decoration: none; color: inherit; font-size: x-large;"><span class="display">muchen&nbsp;</span><span>牧辰</span></a>
</div>
{% if page.show_navigation %}
<nav class="navbar no-print">
	<div class="container px-1">
		{% for link in site.data.navigation %}
		<div class="navitem col-4 col-sm-2 mb-2 mx-auto px-2 {% if page.url == link.url or page.nav_active == link.url %}active{% endif %}">
			<a class="btn {% if link.disabled %}disabled{% endif %}" href="{{ link.url }}" {% if current %}aria-current="page"{% endif %}>{{ link.text }}</a>
		</div>
		{% endfor %}
	</div>
</nav>

{% endif %}
