<div class="d-flex justify-content-center">
	<a href="/"><h1 class="heading handwrite">Muchen He</h1></a>
</div>
<nav class="navbar navbar-mh navbar-expand-sm">
	<div class="container">
		<a class="navbar-brand handwrite" href="/" style="font-size: 2em; color: initial; margin-top: 6px">Muchen He</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
			<ul class='navbar-nav my-1'>
				{% for link in site.data.navigation %}
				{% assign current = false %}
				{% if page.url == link.url or page.nav_active == link.url %}
				{% assign current = true %}
				{% endif %}
				<li class='nav-item {% if current %}active{% endif %}'>
					<a class="nav-link" href="{{ link.url }}" {% if current %}aria-current="page"{% endif %}>{{ link.text }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>