<div class="d-flex justify-content-center">
	<a href="/"><h1 class="heading handwrite">Muchen He</h1></a>
</div>
<nav class="navbar navbar-mh navbar-expand">
	<div class="container">
		<div class="navbar-collapse justify-content-center">
			<ul class='navbar-nav my-1'>
				{% for link in site.data.navigation %}
				{% assign current = false %}
				{% if page.url == link.url or page.nav_active == link.url %}
				{% assign current = true %}
				{% endif %}
				<li class='nav-item {% if current %}active{% endif %}'>
					<a class="nav-link" href="{{ link.url }}" {% if current %}aria-current="page"{% endif %}>{{ link.text }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
{% include pride.html %}