<div class="d-flex justify-content-center">
	<a href="/"><h1 class="heading">Muchen He</h1></a>
</div>
<nav class="navbar navbar-mh navbar-expand-md">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
			<ul class='navbar-nav my-1'>
				{% for link in site.data.navigation %}
				{% assign current = false %}
				{% if page.url == link.url or page.nav_active == link.url %}
				{% assign current = true %}
				{% endif %}
				<li class='nav-item {% if current %}active{% endif %}'>
					<a class="nav-link" href="{{ link.url }}">{{ link.text }}{% if current %}<span
							class="sr-only">(current)</span>{% endif %}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>