<style>
	div.pride-band-container {
		position: absolute;
		width: 100%;
		top: 50px;
		left: 40%;
		transform: rotate(30deg);
	}

	div.pride-band {
		min-height: 6px;
		margin-bottom: 4px;
	}
	html, body {
		width: 100%;
		overflow-x: hidden;
	}
</style>

<div class="pride-band-container">
	<div class="pride-band" style="background-color: #e44d4d;"></div>
	<div class="pride-band" style="background-color: #f0883d;"></div>
	<div class="pride-band" style="background-color: #ebd255;"></div>
	<div class="pride-band" style="background-color: #6bdc69;"></div>
	<div class="pride-band" style="background-color: #5395cf;"></div>
	<div class="pride-band" style="background-color: #c25ac4;"></div>
</div>
