<style>
	.reveal a {
		text-decoration: none;
		color: inherit;
	}

	.reveal .rev-pre {
		padding: 1em;
		border: 1px solid #888;
		border-left: 5px solid #444;
		box-shadow: 0 0.5em 1em rgba(0, 0, 0, .15);
	}

	.reveal .rev-pre::after {
		content: '';
		border: 8px solid transparent;
		border-top: 8px solid #444;
		position: relative;
		margin-top: 1em;
		left: 50%;
		top: 2em;
	}

	.reveal .rev-body {
		margin-bottom: 1.5em;
		margin-left: 1em;
		margin-right: .5em;
		padding: 1em;
		border-left: 5px solid #aaa;
		box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .2);
	}

	.rev-pre p:first-child,
	.rev-body p:first-child {
		margin-top: 0 !important;
	}

	.rev-pre p:last-child,
	.rev-body p:last-child {
		margin-bottom: 0 !important;
	}
</style>