---
title: CV
permalink: /cv
layout: default
nav_active: /cv
show_footer: false
---

<style>
/* Colors as variables */
:root {
	--body-text-color: #333;
	--body-text-color-light: #666;
	--body-accent-color: #333;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--body-text-color: #fff;
		--body-text-color-light: #ccc;
		--body-accent-color: #fff;
	}
}

.resume-container {
	font-size: 9pt;
	/* line-height: 1.1; */
}

h1.name {
	font-size: 2.0em;
}

h2 {
	font-size: 1.5em;
	color: var(--body-accent-color);
	margin-bottom: 0.2em;
	margin-top: 1em;
	line-height: 1.0;
}

h3.title {
	font-size: 1.2em;
	/* margin-bottom: 0; */
}

.secondary {
	color: var(--body-text-color-light);
}

/* Jobs */
ul.work {
	list-style: none;
	padding: 0px;
	list-style-position: inside;
	padding-left: 9px;
	text-indent: -9px;
	margin-bottom: 0;
}

ul.work li:before {
	content: '‣';
	margin: 0;
	margin-right: 5px;
	padding-left: 0;
}

.compact {
	line-height: 1.2;
	/* margin: .75em 0; */
}

/* Media query for print */
@media print {

	/* html {
		font-size: 10pt;
	} */

	.container {
		max-width: 100%;
	}

	header {
		display: none;
	}

	/* Hide the h1 heading at the top */
	h1.heading {
		display: none;
	}

	/* Hide navigation */
	.navbar-nav,
	.navbar {
		display: none;
	}

	/* Hide footer */
	footer {
		display: none;
	}

	.resume-container {
		background-color: #fff;
		color: #333;
	}

	/* Ensure that page break only occurs between blocks of content */
	.resume-container .exp-entry {
		page-break-inside: avoid;
	}

	h2,
	h3,
	h4 {
		page-break-after: avoid;
	}
}
</style>

<!-- Components -->
{% capture introduction %}
<section style="border-bottom: 1px solid var(--ink);">
	<h1 class="my-2 name">Muchen He</h1>
	<p class="mb-1 compact">
		Accomplished early-career engineer and UBC Master's graduate with a
		background in computer architecture and a keen interest in HDL design
		emulation and validation. My academic research experience complements
		my practical work, showcasing my commitment to continuous learning and
		problem-solving in the field.
	</p>
	<p class="contact my-2">
		{% for item in site.data.contacts.default %}
		{% if item.icon %}
		{% if item.show_resume %}
		<i class="{{ item.icon }}"></i>
		<a href="{{ item.link }}">{{ item.text }}</a>&nbsp;
		{% endif %}
		{% endif %}
		{% endfor %}
	</p>
</section>
{% endcapture %}
{% capture skills %}
<section>
	<h2>Skills</h2>
	<div>
		{% for skill_category in site.data.resume.skills %}
		<p class="compact mb-2">
			{{ skill_category.skills | join: ', ' }}
		</p>
		{% endfor %}
	</div>
</section>
{% endcapture %}
{% capture awards %}
<section>
	<h2>Honors & Awards</h2>
	<div>
		{% for award in site.data.resume.awards %}
		<p class="compact mb-2">
			{{ award.name }},
			<span class="secondary">{{ award.date }}</span>
		</p>
		{% endfor %}
	</div>
</section>
{% endcapture %}

{% capture certifications %}
<section>
	<h2>Certifications</h2>
	<div class="spaced-list">
		{% for cert in site.data.resume.certifications %}
		<p class="compact">
			<span class="cert-name">{{ cert.name }}</span>,
			<span class="secondary">{{ cert.date }}</span>
		</p>
		{% endfor %}
	</div>
</section>
{% endcapture %}
{% capture education %}
<section>
	<h2>Education</h2>
	<div>
		{% for education in site.data.resume.education %}
		<div>
			<strong class="title my-1">
				<span class="school float-end">{{ education.school }}</span>
				<span class="edu-degree">
					{{ education.degree }}&nbsp;{{ education.major }}, {{ education.end }}
				</span>
			</strong>
			<div class="info">
				<div class="info-desc mb-3">
					{% if education.description %}
					<p class="compact">{{ education.description }}</p>
					{% endif %}

					{% if education.thesis %}
					<p class="compact"><em>Thesis</em>: {{ education.thesis }}</p>
					{% endif %}

					{% if education.courses %}
					<p class="compact"><em>Courses</em>: {{ education.courses | join: ', ' }}</p>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endcapture %}

{% capture experience %}
<section>
	<h2>Experience</h2>
	{% for entry in site.data.resume.exp.entries %}
	{% assign job = site.data.resume.exp.details | where: "id", entry | first %}
	<div class="exp-entry">
		<strong class="title my-1">
			<span class="company float-end">{{ job.company }}</span>
			<span class="position">{{ job.title }}</span>
		</strong>

		<div class="info" style="border-top: 1px dotted var(--ink)">
			<div class="info-meta">
				<p class="mb-0">
					{{ job.start }}-{{ job.end }},
					<span class="job-location">{{ job.location }}</span>
				</p>
			</div>
			<div class="info-desc secondary mb-3">
				<ul class="work">
					{% for task in job.doings %}
					<li class="work compact mb-1">{{ task }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}
</section>
{% endcapture %}

{% capture projects %}
<section>
	<h2>Projects</h2>
	<div class="spaced-list">
		{% for project in site.data.projects %}
		{% if project.worthy %}
		<p class="compact mb-1">
			{{ project.name }}
			<span class="secondary">
				{% if project.brief %}
				&mdash;{{ project.brief }}
				{% else if project.description %}
				&mdash;{{ project.description }}
				{% endif %}
				({{ project.dates.end | date: "%Y" }})
			</span>
		</p>
		{% endif %}
		{% endfor %}
	</div>
</section>
{% endcapture %}


<div class="my-5 no-print"></div>

<div class="resume-container">
	{{ introduction }}

	<div class="row">
		<div class="col-sm-3 order-last order-sm-first">
			{{ skills }}
			{{ awards }}
			{{ certifications }}
		</div>

		<div class="col-sm-9">
			{{ education }}
			{{ experience }}
			{{ projects }}
		</div>
	</div>
</div>

<div class="my-5 no-print"></div>

<script src="https://kit.fontawesome.com/c83e37f840.js" crossorigin="anonymous"></script>