---
title: CV
permalink: /cv
layout: default
nav_active: /cv
show_footer: false
---

<style>
	/* Colors as variables */
	:root {
		--body-text-color: #333;
		--body-text-color-light: #666;
		--body-accent-color: #333;
	}

	/* Dark mode */
	@media (prefers-color-scheme: dark) {
		:root {
			--body-text-color: #fff;
			--body-text-color-light: #ccc;
			--body-accent-color: #333;
		}
	}

	.resume-container {
		font-size: 9pt;
		/* line-height: 1.1; */
	}


	h2 {
		font-size: 1.5em;
		color: var(--body-accent-color);
		margin-bottom: 0.2em;
		margin-top: 1em;
		line-height: 1.0;
	}

	h3.title {
		font-size: 1.2em;
		/* margin-bottom: 0; */
	}

	/* div.info {
		margin-left: 9px;
		border-left: 1px solid #ccc;
		padding-left: 16px;
	} */

	/* div.spaced-list p {
		margin-top: 4px;
	} */

	/* div.spaced-list p:first-child {
		margin-top: 0;
	} */

	.secondary {
		color: var(--body-text-color-light);
	}

	/* p.job-location,
	p.school-grades {
		color: var(--body-text-color-light);
		font-style: italic;
	} */

	/* .exp-entry {
		margin-bottom: 1em;
	} */

	/* .info-meta {
		position: relative;
		top: -5px;
	} */

	/* .info-desc {
		margin-top: .25em;
	} */

	/* Jobs */
	ul.work {
		list-style: none;
		/* padding: 0px; */
		/* margin-bottom: 0; */
	}

	ul.work li:before {
		content: '-';
		/* margin: 0;
		margin-right: .5em; */
	}

	li.work p {
		display: inline;
	}

	/* img.company-logo {
		width: 1.3em;
		height: 1.3em;
		margin: 4px;
		margin-left: 0;
	} */

	/* Media query for print */
	@media print {

		header {
			display: none;
		}

		/* Hide the h1 heading at the top */
		h1.heading {
			display: none;
		}

		/* Hide navigation */
		.navbar-nav,
		.navbar {
			display: none;
		}

		/* Hide footer */
		footer {
			display: none;
		}

		.resume-container {
			background-color: #fff;
			color: #333;
		}

		/* Ensure that page break only occurs between blocks of content */
		.resume-container .exp-entry {
			page-break-inside: avoid;
		}

		h2,
		h3,
		h4 {
			page-break-after: avoid;
		}
	}
</style>

<!-- Components -->
{% capture introduction %}
<section style="border-bottom: 1px solid black;">
	<h1 class="my-0">Muchen He</h1>
	<p class="mb-1">
		<!-- Graduate student at UBC working on computer architecture security
	and hardware performance simulation,
	with an interest in the full stack of computing
	from CPU registers to human-computer-interactions. -->
		ASIC silicon validation and emulation engineering at <a href="https://solidigm.com">Solidigm</a>. Computer
		architecture graduate student at <a href="https://ubc.ca">UBC</a>.
	</p>
	<p class="contact my-2">
		{% for item in site.data.contacts.default %}
		{% if item.icon %}
		{% if item.show_resume %}
		<i class="{{ item.icon }}"></i>
		<a href="{{ item.link }}">{{ item.text }}</a>&nbsp;
		{% endif %}
		{% endif %}
		{% endfor %}
	</p>
</section>
{% endcapture %}


{% capture skills %}
<section>
	<h2>Skills</h2>
	<div class="spaced-list">
		{% for skill_category in site.data.resume.skills %}
		<p class="skill-category">
			<!-- <span class="skill-category-label">{{ skill_category.category }}</span>: -->
			{{ skill_category.skills | join: ', ' }}
		</p>
		{% endfor %}
	</div>
</section>
{% endcapture %}


{% capture awards %}
<section>
	<h2>Honors & Awards</h2>
	<div class="spaced-list">
		{% for award in site.data.resume.awards %}
		<p>
			{{ award.name }},
			<span class="secondary">{{ award.date }}</span>
		</p>
		{% endfor %}
	</div>
</section>
{% endcapture %}

{% capture certifications %}
<section>
	<h2>Certifications</h2>
	<div class="spaced-list">
		{% for cert in site.data.resume.certifications %}
		<p>
			<span class="cert-name">{{ cert.name }}</span>,
			<span class="secondary">{{ cert.date }}</span>
		</p>
		{% endfor %}
	</div>
</section>
{% endcapture %}

{% capture extracurricular %}
<section>
	<h2>Extracurricular Interests</h2>
	<p class="secondary">{{ site.data.resume.likes | join: ', ' }}</p>
</section>
{% endcapture %}

{% capture education %}
<section>
	<h2>Education</h2>
	<div>
		{% for education in site.data.resume.education | reverse %}
		<div>
			<h3 class="title my-1">
				<span class="school float-end">{{ education.school }}</span>
				<span class="edu-degree">
					{{ education.degree }}&nbsp;{{ education.major }}
				</span>
			</h3>
			<div class="info">
				<div class="info-meta">
					<p>
						{{ education.start }}-{{ education.end }}
					</p>
				</div>
				<!-- <div class="info-desc">
					<p class="secondary">{{ education.courses | join: ', ' }}</p>
				</div> -->
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endcapture %}

{% capture experience %}
<section>
	<h2>Experience</h2>
	{% for job in site.data.resume.exp.entries %}
	<div class="exp-entry">
		<h3 class="title my-1">
			<span class="company float-end">{{ job.company }}</span>
			<span class="position">{{ job.title }}</span>
		</h3>

		<div class="info">
			<div class="info-meta">
				<!-- <h4 class="company">{{ job.company }}</h4> -->
				<p>
					{{ job.start }}-{{ job.end }},
					<span class="job-location">{{ job.location }}</span>
				</p>
			</div>
			<!-- <div class="info-desc secondary">
				{% if job.description %}
				<p>{{ job.description }}</p>
				{% endif %}
				<ul class="work">
					{% for task in job.doings %}
					<li class="work">{{ task }}</li>
					{% endfor %}
				</ul>
			</div> -->
		</div>
	</div>
	{% endfor %}
</section>
{% endcapture %}

{% capture projects %}
<section>
	<h2>Projects</h2>
	<div class="spaced-list">
		{% for project in site.data.projects %}
		{% if project.worthy %}
		<p>
			{{ project.name }},
			<span class="secondary">
				<!-- {{ project.dates.end | date: "%Y" }}:
				{% if project.brief %}
				{{ project.brief }}
				{% else if project.description %}
				{{ project.description }}
				{% else %}
				{% endif %} -->
			</span>
		</p>
		{% endif %}
		{% endfor %}
	</div>
</section>
{% endcapture %}


<div class="my-5 no-print"></div>

<div class="resume-container">
	{{ introduction }}

	<div class="row">
		<div class="col-sm-3 order-last order-sm-first">
			{{ skills }}
			{{ awards }}
			{{ certifications }}
			{{ extracurricular }}
		</div>

		<div class="col-sm-9">
			{{ education }}
			{{ experience }}
			{{ projects }}
		</div>
	</div>
</div>

<div class="my-5 no-print"></div>

<script src="https://kit.fontawesome.com/c83e37f840.js" crossorigin="anonymous"></script>