/*Default styles (alphabetical)*/
a {
	color: inherit;
	-webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
body {
	font-family: "Segoe UI", sans-serif;
	color: #011123;
	font-size: 1.5em;
	overflow-x: hidden;
}
footer {
	background-color: #05182E;
	color: white;
	text-align: center;
	border: 0 solid #03254B;
	border-top-width: 8px;
	padding: 10px;
	margin-top: 8px;
}
h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h1, h2, h3 {margin: 8px 0;}
hr {margin: 8px 0;}
header {
	color: #011123;
	border: 0 solid #03254B;
	border-bottom-width: 8px;
	text-align: center;
}
i {color: inherit;}
td, th {padding: 5px;}
th {text-align: right;}

/*Landing page*/
.landing {
	margin: 5px 0px;
	width: 600px;
}
@media screen and (max-width: 600px) {
	.landing {
		width: 95%;
	}
}
.landing-header {
	margin-bottom: 10px;
}

/*face shot*/
.headshot {
	width: 120px;
	margin-top: 10px;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.headshot:hover {
	width: 200px;
	border-radius: 25%;
}

/*Home navigation*/
ul.home-nav {
	background-color: #CCC;
	color: #011123;
	text-align: center;
}
li.home-nav {
	display: inline-block;
	background-color: #CCC;
}
li.recent-projects-nav:hover {
	background-color: #EEF;
	-webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.navbar {
	margin-bottom: 8px;
	border: 0;
}
@media screen and (max-width: 400px) {
	nav.home-nav ul.home-nav li.home-nav {
		width: 100%;
		text-align: left;
		box-sizing: border-box;
	}
}

/*contact cards*/
.card {
	padding: 8px;
	color: white;
	margin: auto;
}
.card-dark {
	color: #05182E;
}

.btn-circular {
  width: 40px;
  height: 40px;
  text-align: center;
	vertical-align: middle;
  padding: 0;
	padding-top: 8px;
  font-size: 1.5em;
  border-radius: 20px;
	margin: 8px;
}

/*login page*/
.login-input {
	font-size: 1.2em;
	width: 100%;
	padding: 5px;
}
.login {
	width: 500px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.2em;
}
@media screen and (max-width: 520px) {
	.login {width: 95%}
}

/*Property classes*/
.border-md {border: 1px solid #CCC;}
.border-light {border: 1px solid #EEE;}
.border-r-md {border-radius: 8px;}
.display-inline-block {display: inline-block;}
.float-right {float: right;}
.no-decor, .no-decor:hover, no-decor:focus {
	text-decoration: none;
	color:inherit;
}
.padding-hmd {padding: 0 8px;}
.padding-md {padding: 8px;}
.margin-bsm {margin-bottom: 5px;}
.margin-md {margin: 8px;}
.row {padding: 0 100px;}
	@media screen and (max-width: 786px) {
		.row {padding: 0 15px;}
	}
