@import "neuemorph";

div.highlighter-rouge {
  margin-top: 2em;
  margin-bottom: 2em;
}

// Rouge code fence
div.highlighter-rouge div.highlight::before {
  content: ">_";
  display: inline-block;
  padding: .2rem 1rem;
  font-size: 80%;
  font-weight: bold;
  position: relative;
  top: -19px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // background: linear-gradient(45deg, var(--theme-dark), var(--theme-light));
  background: var(--theme-dark);
  color: var(--theme-light);
}


div.highlighter-rouge.language-shell div.highlight::before {
  content: ">_";
  background: linear-gradient(45deg, var(--theme-primary-dark), var(--theme-primary));
}

div.highlighter-rouge.language-verilog div.highlight::before {
  content: "SystemVerilog";
}

div.highlight {
  @extend .neuemorph-shadow;
  line-height: 1.2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

pre, pre.highlight {
  padding: 0 1em 1em 1em;
}

// Rough highlighter
code.highlighter-rouge {
	padding: 0 3px;
	border-radius: 3px;
	color: var(--theme-primary);
	border: 1px solid var(--theme-primary)
}

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1 {
  color: #888888;
}
.highlight .cp {
  color: #cc0000;
  font-weight: bold;
}
.highlight .cs {
  color: #cc0000;
  background-color: #fff0f0;
  font-weight: bold;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #333333;
}
.highlight .gu {
  color: #666666;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gl {
  color: #888888;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kv {
  color: #008800;
  font-weight: bold;
}
.highlight .kp {
  color: #008800;
}
.highlight .kt {
  color: #888888;
  font-weight: bold;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #0000dd;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
.highlight .se {
  color: #0044dd;
  background-color: #fff0f0;
}
.highlight .si {
  color: #3333bb;
  background-color: #fff0f0;
}
.highlight .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
.highlight .sr {
  color: #008800;
}
.highlight .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
.highlight .na {
  color: #336699;
}
.highlight .nb, .highlight .bp {
  color: #003388;
}
.highlight .nc {
  color: #bb0066;
  font-weight: bold;
}
.highlight .no {
  color: #003366;
  font-weight: bold;
}
.highlight .nd {
  color: #555555;
}
.highlight .ne {
  color: #bb0066;
  font-weight: bold;
}
.highlight .nf {
  color: #0066bb;
  font-weight: bold;
}
.highlight .nl {
  color: #336699;
}
.highlight .nn {
  color: #bb0066;
  font-weight: bold;
}
.highlight .py {
  color: #336699;
  font-weight: bold;
}
.highlight .nt {
  color: #bb0066;
  font-weight: bold;
}
.highlight .nv, .highlight .vc {
  color: #336699;
}
.highlight .vg {
  color: #dd7700;
}
.highlight .vi {
  color: #3333bb;
}
.highlight .ow {
  color: #008800;
}
.highlight .w {
  color: #bbbbbb;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    color: #faf6e4;
  }
  .highlight .gl {
    color: #dee5e7;
    background-color: #4e5d62;
  }
  .highlight .gp {
    color: #a8e1fe;
    font-weight: bold;
  }
  .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #6c8b9f;
    font-style: italic;
  }
  .highlight .cp {
    color: #b2fd6d;
    font-weight: bold;
    font-style: italic;
  }
  .highlight .err {
    color: #fefeec;
    background-color: #cc0000;
  }
  .highlight .gr {
    color: #cc0000;
    font-weight: bold;
    font-style: italic;
  }
  .highlight .k, .highlight .kd, .highlight .kv {
    color: #f6dd62;
    font-weight: bold;
  }
  .highlight .o, .highlight .ow {
    color: #4df4ff;
    font-weight: bold;
  }
  .highlight .p, .highlight .pi {
    color: #4df4ff;
  }
  .highlight .gd {
    color: #cc0000;
  }
  .highlight .gi {
    color: #b2fd6d;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gs {
    font-weight: bold;
  }
  .highlight .gt {
    color: #dee5e7;
    background-color: #4e5d62;
  }
  .highlight .kc {
    color: #f696db;
    font-weight: bold;
  }
  .highlight .kn {
    color: #ffb000;
    font-weight: bold;
  }
  .highlight .kp {
    color: #ffb000;
    font-weight: bold;
  }
  .highlight .kr {
    color: #ffb000;
    font-weight: bold;
  }
  .highlight .gh {
    color: #ffb000;
    font-weight: bold;
  }
  .highlight .gu {
    color: #ffb000;
    font-weight: bold;
  }
  .highlight .kt {
    color: #b2fd6d;
    font-weight: bold;
  }
  .highlight .no {
    color: #b2fd6d;
    font-weight: bold;
  }
  .highlight .nc {
    color: #b2fd6d;
    font-weight: bold;
  }
  .highlight .nd {
    color: #b2fd6d;
    font-weight: bold;
  }
  .highlight .nn {
    color: #b2fd6d;
    font-weight: bold;
  }
  .highlight .bp {
    color: #b2fd6d;
    font-weight: bold;
  }
  .highlight .ne {
    color: #b2fd6d;
    font-weight: bold;
  }
  .highlight .nl {
    color: #ffb000;
    font-weight: bold;
  }
  .highlight .nt {
    color: #ffb000;
    font-weight: bold;
  }
  .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
    color: #f696db;
    font-weight: bold;
  }
  .highlight .ld {
    color: #f696db;
    font-weight: bold;
  }
  .highlight .ss {
    color: #f696db;
    font-weight: bold;
  }
  .highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
    color: #fff0a6;
    font-weight: bold;
    background-color: #fff0a622;
  }
  .highlight .se {
    color: #4df4ff;
    font-weight: bold;
  }
  .highlight .sc {
    color: #4df4ff;
    font-weight: bold;
  }
  .highlight .si {
    color: #4df4ff;
    font-weight: bold;
  }
  .highlight .nb {
    font-weight: bold;
  }
  .highlight .ni {
    color: #999999;
    font-weight: bold;
  }
  .highlight .w {
    color: #BBBBBB;
  }
  .highlight .go {
    color: #BBBBBB;
  }
  .highlight .nf {
    color: #a8e1fe;
  }
  .highlight .py {
    color: #a8e1fe;
  }
  .highlight .na {
    color: #a8e1fe;
  }
  .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    color: #a8e1fe;
    font-weight: bold;
  }  
}