/* Color Theme Swatches in Hex */
:root {

	--theme-light: #f2f2f2;
	--theme-primary: #ff6600;
	--theme-primary-dark: #dd5500;
	--theme-dark: #101010;
	
	--theme-bg: var(--theme-light);
	--text-color: var(--theme-dark);
	--text-color-disabled: #0006;
	--link-color: #0050C9;
	--link-hover-color: #A92626;

	--glass-ct: 0.25;
	--glass-br: 1.54;
	--light-background: #ddd;
}

/* Page style */
html { font-size: 16px; }
body {
	cursor: default;
	font-family: "suisse intl", sans-serif;
	line-height: 1.25;
	color: var(--text-color);
	background-color: var(--theme-bg);
}

/* Header text custom font sizes */
h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 3em; line-height: 1.05; }
h1.display { font-weight: 300; line-height: 1.2; }
h2 { font-size: 1.75em; line-height: 1.2; }
h3 { font-size: 1.5em; line-height: 1.3; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.15em; }

/* Nav bar */
.navbar-mh .navbar-nav .nav-link { color: var(--text-color-disabled); }
.navbar-mh .navbar-nav .nav-link:hover { color: var(--theme-primary); }
li.nav-item.active .nav-link { color: var(--text-color); border-color: var(--theme-primary); }
li.nav-item .nav-link { border-left: 5px solid transparent; padding-left: .5em; }
@media (min-width: 768px) {
	li.nav-item.active .nav-link { border-left: none; border-bottom: 3px solid var(--theme-primary); }
}
.navbar-mh .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(120,120,120,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/* Frosted glass effect */
.glass {
	backdrop-filter: blur(16px) contrast(var(--glass-ct)) brightness(var(--glass-br));
	-webkit-backdrop-filter: blur(16px) contrast(var(--glass-ct)) brightness(var(--glass-br));
}
.glass-dark {
	backdrop-filter: blur(16px) brightness(0.5);
	-webkit-backdrop-filter: blur(16px) brightness(0.5);
}

/* Make dictionaries align better */
.dl-horizontal > dt { text-align: right; }
.dl-horizontal > dd { margin-bottom: 0; }
@media (max-width: 768px) { .dl-horizontal > dt { text-align: left; margin-top: .4em; } }

/* Make footer more spacious */
footer { margin: 2em 0; }

/* Increase anchor color contrast */
a { color: var(--link-color); text-decoration: none; }
a:hover { color: var(--theme-primary); text-decoration: none;}

/* Buttons */
.btn { position:relative; overflow: hidden; transform: translate3d(0,0,0); }
.btn::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle,#000 10%,transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10,10);
	opacity: 0;
	transition: ease-out transform .5s, opacity .5s;
}
.btn:active::after { transform: scale(0,0); opacity: 0.2; transition: 0s; }
.btn-xs { padding: 0 .25em; font-size: 0.9em; }

/* Button colors */
.btn-primary {
	color: var(--theme-bg);
	background-color: var(--theme-primary);
	border-color: var(--theme-primary);
}
.btn-primary:hover {
	background-color: var(--theme-primary-dark);
	border-color: var(--theme-primary-dark);
}
.btn-outline-primary {
	color: var(--theme-primary);
	border-color: var(--theme-primary);
}
.btn-outline-primary:hover {
	color: var(--theme-bg);
	background-color: var(--theme-primary);
	border-color: var(--theme-primary);
}

/* Limit narrow width of container */
@media (min-width: 992px) {
    .container{
        max-width: 800px;
    }
}

// UBC handin top part
#ubc-handin { display: none; }

// Code fences
pre.highlight { margin-bottom: 1.5em; padding: 1em; line-height: 1.2em; border: 1px solid #888; border-radius: 3px; }
pre.highlight span.mi, pre.highlight span.mf { color: blue; }
pre.highlight span.c, #c-content pre.highlight span.c1, #c-content pre.highlight span.cm { font-style: italic; color: #20921f; background: #dbf3cd60; }
pre.highlight span.gi { color: #49c1a1; background-color: #4cd6a822; }
pre.highlight span.gd { color: #a2221f; background-color: #c4444f22; }

/* Definitions */
dfn { border-bottom: 1px var(--text-color) dotted; cursor:help; position: relative; }
dfn::after {
	@extend .glass;
	content: attr(definition);
	display: inline;
	position: absolute;
	top: 1em;
	left: 0;
	opacity: 0;
	pointer-events: none;
	font-style: normal;
	padding: 1em;
	border-radius: 8px;
	transition: opacity .2s, top .2s;
}
dfn:hover { z-index: 2; }
dfn:hover::after { opacity: 1; top: 2em; }

/* Blog texts */
#c-content h1, #c-content h2, h1.bold, h2.bold { letter-spacing: -1px; word-spacing: 2px; }
#c-content h3 { margin: .5em 0; }

// TOC
#markdown-toc li { list-style: none; line-height: 1.1; }
#markdown-toc > li > a { font-weight: bold; line-height: 1.35; }
ul#markdown-toc { padding: 0; margin: 2em 0; }

// Checkbox
input.task-list-item-checkbox { margin-right: .4em; position: relative; top: .1em; }

// Blockquote
blockquote {
	margin-left: 1em;
	margin-bottom: 1.5em;
	padding: 0 1em;;
	border-left: 4px solid var(--theme-primary);
	font-style: italic;;
}
blockquote p:first-child { margin-top: initial; }
blockquote p:last-child { margin-bottom: initial; }

// // Make blog post images align center
#c-content img:not(.emoji) { max-width: 100%; display: block; margin-left: auto; margin-right: auto; }
#c-content .mermaid { text-align: center; }

// Markdown tables
#c-content table { word-break: initial; border-bottom: 2px solid var(--text-color); margin: 1em 0; }
#c-content table.full-width { width: 100%; }
#c-content table tr { border-top: 1px solid var(--text-color) }
#c-content table tr th { font-weight: bold; border: 0; border-bottom: 1px solid var(--text-color); background-color: var(--light-background)}
#c-content table tr th, table tr td { padding: 0.2em 0.5em; }
#c-content table tr th:first-child, table tr td:first-child { padding-left: 1em; }
#c-content table tr th:last-child, table tr td:last-child { padding-right: 1em; }
#c-content table { margin-left: auto; margin-right: auto; }

// Figures
#c-content .figure{ text-align: center; display: block; margin-top: 0; font-size: 0.9em; font-style: italic; }
#c-content .figure-full-width { width: 100%; }
#c-content .figure-full-width img { width: 100% }
#c-content .figure-centered { width: 100%; text-align: center; }
#c-content .figure-centered img { max-width: 100% }

// Embedded iframes
iframe { display: block; margin-left: auto; margin-right: auto; margin-bottom: 1em; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); max-width: 100%; }

// Footnotes / references
#c-content div.footnotes { margin-top: 2em; padding-top: 0.25em; }
#c-content div.footnotes::before { content: "References"; font-weight: bold; }
#c-content a.footnote { background-color: #f0f0f0; padding: 1px 3px; border-radius: 3px; margin: 0 1px; }

// // Fix math in lists
#c-content li .MJXc-display { display: inline; margin: inherit; }

// Default selected style override
::selection { background: #ffa84444; }

// Make navbar toggler less busy
.navbar-toggler { padding: 0; border: none; }

// Rough highlighter
code.highlighter-rouge {
	padding: 0 3px;
	border-radius: 3px;
	color: var(--theme-primary);
	// background-color: var(--light-background);
	border: 1px solid var(--theme-primary)
}

// Print override
@media print {
	#c-content { font-size: 20px !important; }
	#c-content #markdown-toc { display: none; }
	.jumbotron { background-color: transparent !important; }
	.jumbotron .text-light { color: black !important; }
	footer { display: none; }

	// Turn on hand in information
	#ubc-handin { display: inline !important; }

	.container{
        max-width: 100%;
    }
}

// // Tabular numerials
// .numeric { font-variant-numeric: tabular-nums; }

/* Dark mode CSS */
@media (prefers-color-scheme: dark) {
	:root {
		--theme-bg: #080808;

		--text-color: #f8f8f8;
		--text-color-disabled: #fff6;
		--glass-ct: 0.95;
		--glass-br: 0.56;
		--light-background: #333;
	}
	pre.highlight { color: #aaa; }
	pre.highlight span.c, #c-content pre.highlight span.c1, #c-content pre.highlight span.cm { color: #229120; background: #3e463a60; }

	img { opacity: 0.8; }
}
