/* Definitions */
dfn { border-bottom: 1px var(--text-color) dotted; cursor:help; position: relative; }
dfn::after {
	@extend .glass;
	content: attr(definition);
	display: inline;
	position: absolute;
	top: 1em;
	left: 0;
	opacity: 0;
	pointer-events: none;
	font-style: normal;
	padding: 1em;
	border-radius: 8px;
	transition: opacity .2s, top .2s;
}
dfn:hover { z-index: 2; }
dfn:hover::after { opacity: 1; top: 2em; }