/* Blog texts */
#c-content h1, #c-content h2, h1.bold, h2.bold { letter-spacing: -1px; word-spacing: 2px; }
#c-content h3 { margin: .5em 0; }

// TOC
#markdown-toc li { list-style: none; line-height: 1.1; }
#markdown-toc > li > a { font-weight: bold; line-height: 1.35; }
ul#markdown-toc { padding: 0; margin: 2em 0; }

// // Make blog post images align center
#c-content img:not(.emoji) { max-width: 100%; display: block; margin-left: auto; margin-right: auto; }
#c-content .mermaid { text-align: center; }

// Markdown tables
#c-content table { word-break: initial; border-bottom: 2px solid var(--text-color); margin: 1em 0; }
#c-content table.full-width { width: 100%; }
#c-content table tr { border-top: 1px solid var(--text-color) }
#c-content table tr th { font-weight: bold; border: 0; border-bottom: 1px solid var(--text-color); background-color: var(--light-background)}
#c-content table tr th, table tr td { padding: 0.2em 0.5em; }
#c-content table tr th:first-child, table tr td:first-child { padding-left: 1em; }
#c-content table tr th:last-child, table tr td:last-child { padding-right: 1em; }
#c-content table { margin-left: auto; margin-right: auto; }

// Figures
#c-content .figure{ text-align: center; display: block; margin-top: 0; font-size: 0.9em; font-style: italic; }
#c-content .figure-full-width { width: 100%; }
#c-content .figure-full-width img { width: 100% }
#c-content .figure-centered { width: 100%; text-align: center; }
#c-content .figure-centered img { max-width: 100% }
#c-content .figure-caption { text-align: center; margin-bottom: 2em; }

// Footnotes / references
#c-content div.footnotes { margin-top: 2em; padding-top: 0.25em; }
#c-content div.footnotes::before { content: "References"; font-weight: bold; }
#c-content div.footnotes p { margin-bottom: 0; }
#c-content a.footnote { margin: 0 2px; }
#c-content a.footnote::before { content: "[" }
#c-content a.footnote::after { content: "]" }

// Fix math in lists
#c-content li .MJXc-display { display: inline; margin: inherit; }