/* Frosted glass effect */
.glass {
	backdrop-filter: blur(16px) contrast(var(--glass-ct)) brightness(var(--glass-br));
	-webkit-backdrop-filter: blur(16px) contrast(var(--glass-ct)) brightness(var(--glass-br));
}
.glass-dark {
	backdrop-filter: blur(16px) brightness(0.5);
	-webkit-backdrop-filter: blur(16px) brightness(0.5);
}
.glass-light {
	backdrop-filter: blur(16px) brightness(1.2);
	-webkit-backdrop-filter: blur(16px) brightness(1.2);
}

@supports not ((-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(16px))) {
	.glass-dark { background-color: rgba(0, 0, 0, 0.5); }
	.glass-light, .glass { background-color: rgba(255, 255, 255, 0.7); }
}