/* Page style */
html { font-size: 16px; }
body {
    cursor: default;
	font-family: "Open Sans", Helvetica, "Microsoft Yahei", sans-serif;
	line-height: 1.5;
	color: rgb(33, 37, 41);
}

/* Header */
h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Helvetica, "Microsoft Yahei", sans-serif;
	font-weight: bold;
	letter-spacing: -0.45px;
	word-spacing: 0.5px;
	color: #202828;
}

/* Header text custom font sizes */
h1 {
	font-size: 3em;
	line-height: 1.1;
}
h2 {
	font-size: 2em;
	line-height: 1.2;
}
h3 {
	font-size: 1.5em;
	line-height: 1.3;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.15em;
}

/* Nav bar */
nav.bg-light { background-color: #fff; }
li.nav-item.active a { border-bottom: 2px solid black; }
li.nav-item { color: black; }
.nav-link { margin: 0 0.5em; }
.navbar-light .navbar-nav .nav-link { color: #000000CC; }

/* Make dictionaries align better */
.dl-horizontal > dt { text-align: right; }
.dl-horizontal > dd { margin-bottom: 0; }
@media (max-width: 768px) {
    .dl-horizontal > dt { text-align: left; margin-top: .4em; }
}

/* Make footer more spacious */
footer { margin: 2em 0; }

/* Paragraph vertical spacing */
p { margin: .5em 0; }

/* Increase anchor color contrast */
a { color: #0050C9; }
a:hover { color: #A92626; }
.text-light > a { color: #6AF; }
.text-light > a:hover { color: #f88; }

.btn-xs { padding: 0 .25em; font-size: 0.9em; }

/* Avatar image are round */
img.avatar { border-radius: 50%; }

/* Make blog text bigger */
#blog-content { font-size: 1.25em; }
#blog-content p {
	margin: 1.5em 0;
}
#blog-content h1, 
#blog-content h2, 
#blog-content h3, 
#blog-content h4, 
#blog-content h5, 
#blog-content h6 {
	font-family: "HK Grotesk", "Open Sans", Helvetica, "Microsoft Yahei", sans-serif;
}