/* Page style */
html { font-size: 14px; }
body {
    cursor: default;
	font-family: "Open Sans", Helvetica, Arial, "Microsoft Yahei", sans-serif;
	line-height: 1.25;
}

/* Header */
h1, h2, h3, h4, h5, h6 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.35;
}
h1, h2 {
	font-weight: lighter;
}

/* Header text custom font sizes */
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.15em; }

/* Nav bar */
nav.bg-light { background-color: #fff; }
li.nav-item.active a { border-bottom: 2px solid black; }
li.nav-item { color: black; }
.nav-link { margin: 0 0.5em; }
.navbar-light .navbar-nav .nav-link { color: #000000CC; }

/* Make dictionaries align better */
.dl-horizontal > dt { text-align: right; }
.dl-horizontal > dd { margin-bottom: 0; }
@media (max-width: 768px) {
    .dl-horizontal > dt { text-align: left; margin-top: .4em; }
}

/* Make footer more spacious */
footer { margin: 2em 0; }

/* Paragraph vertical spacing */
p { margin: .5em 0; }

/* Increase anchor color contrast */
a { color: #0050C9; }
a:hover { color: #A92626; }
.text-light > a { color: #6AF; }
.text-light > a:hover { color: #f88; }

.btn-xs { padding: 0 .25em; font-size: 0.9em; }

/* Avatar image are round */
img.avatar { border-radius: 50%; }

// Make blog text bigger
#write { font-size: 1.25em; }
#write p {
	margin: 1.5em 0;
}