:root {
	--theme-light: white;
	--theme-dark: black;
	--theme-primary: #4292c6;
	--theme-primary-dark: #3182bd;
	--theme-shadow-tint: rgba(66, 146, 198, 0.2);
	--theme-text: #fff;
	
	--theme-bg: var(--theme-light);
	--text-color: var(--theme-dark);
	--text-color-disabled: #0006;
	--link-color: var(--theme-primary);
	--link-hover-color: #A92626;

	--glass-ct: 0.25;
	--glass-br: 1.54;
	--light-background: #ddd;

	// Shadow variables
	--theme-shadow-min: #cecece;
	--theme-shadow-max: #ffffff;

	// Details
	--round-radius: 8px;
}