<section>
<h2>Education</h2>

<div>
    {% for education in site.data.resume.education | reverse %}
    <div>
        <h3 class="title">
            <img class="company-logo" src="{{ education.thumbnail }}" alt="{{ education.school }} logo">
            <span class="edu-degree">{{ education.degree }}</span>
            <span class="edu-major">{{ education.major }}</span>
        </h3>
        <div class="info">
            <div class="info-meta">
                <p">
                    <span class="school">{{ education.school }}</span>,
                    {{ education.start }}-{{ education.end }}
                    {% if education.gpa %}
                    <span class="school-grades">({{ education.gpa }} GPA)</span>
                    {% endif %}
                    </p>
            </div>
            <div class="info-desc">
                <p class="secondary">{{ education.courses | join: ', ' }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
</section>