<section>
<h1 class="name">Muchen He</h1>
<p class="secondary">
	Graduate student at UBC working on computer architecture security
	and hardware performance simulation,
	with an interest in the full stack of computing
	from CPU registers to human-computer-interactions.
</p>
<p class="contact">
	{% for item in site.data.contact.default %}
	{% if item.icon %}
	{% if item.show_resume %}
	<i class="{{ item.icon }}"></i>
	<a href="{{ item.link }}">{{ item.text }}</a>&nbsp;
	{% endif %}
	{% endif %}
	{% endfor %}
</p>
</section>