<section style="border-bottom: 1px solid black;">
<h1 class="name">Muchen He</h1>
<p>
	<!-- Graduate student at UBC working on computer architecture security
	and hardware performance simulation,
	with an interest in the full stack of computing
	from CPU registers to human-computer-interactions. -->
	ASIC silicon validation and emulation engineering at <a href="https://solidigm.com">Solidigm</a>. Computer architecture graduate student at <a href="https://ubc.ca">UBC</a>. 
</p>
<p class="contact my-2">
	{% for item in site.data.contacts.default %}
	{% if item.icon %}
	{% if item.show_resume %}
	<i class="{{ item.icon }}"></i>
	<a href="{{ item.link }}">{{ item.text }}</a>&nbsp;
	{% endif %}
	{% endif %}
	{% endfor %}
</p>
</section>