<section>
    <h2>Technical Projects</h2>
    
    <div class="spaced-list">
        {% for project in site.data.projects %}
        {% if project.worthy %}
        <p>
            <strong>{{ project.name }}</strong>,
            <span class="secondary">
                {{ project.dates.end | date: "%Y" }}:
                {% if project.brief %}
                {{ project.brief }}
                {% else if project.description %}
                {{ project.description }}
                {% else %}
                {% endif %}
            </span>
        </p>
        {% endif %}
        {% endfor %}
    </div>
</section>