body {
  background-color: #F5F5F5;
  font-family: "Segoe UI", sans-serif;
  padding: 20px 0;
}

.logo {
  float: left;
  margin-right: 10px;
}

h1 {
  font-size: 3em;
  font-weight: 100px;
}

p em b i strong u span{
  font-size: 1.2em;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.searchbar {
  width: 150px;
}

.carousel {
  margin-top: 5px;
}

.item {
  height: 400px;
}

@media (max-width: 768px) {
  .item {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .item {
    height: 200px;
  }
}

#carousel1 {
  background: url("../img/carousel_1.jpg") center center no-repeat;
  background-size: cover;
}

#carousel2 {
  background: url("../img/carousel_2.jpg") center center no-repeat;
  background-size: cover;
}

.thumbnail-300 {
  width: 300;
  margin: auto;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding: 20px;
}

.footer-inner {
  margin-bottom: 20px;
}

.img-button {
  height: 3em;
}

.img-button:hover {
  opacity: 0.8;
}
