
/* print */
@media print {
    .no-print {
        display: none;
    }
}

html {
    font-size: 14px;
}

.container {
    max-width: 7.5in;
}

body {
    cursor: default;
    color: var(--text-color);
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.display {
    font-family: 'Gloock', serif;
}

h1,
h2,
h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

a {
    color: inherit;
}

a:hover {
    color: #40916C;
}

.box {
    border: 0.5px solid #222;
	border-radius: 0;
    background: #fff;
    box-shadow: 2px 2px #bbb;
    padding: .15rem .6rem;
}

.btn {
	border: 0.5px solid #222;
	border-radius: 0;
	padding: .15rem .6rem 0;
	/* height: 2rem; */
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background: #fff;
	box-shadow: 2px 2px #bbb;
	transition: none;
	color: black;
}

.btn.disabled {
    box-shadow: none;
    opacity: 0.3;
    cursor: not-allowed;
}

.btn:hover {
	/* background: rgb(245, 200, 111); */
	background: #40916C;
	box-shadow: 2px 2px #666;
	border-color: black;
	color: white;
}

.navitem {
	max-width: 100%;
}
.navitem a {
	color: inherit;
	width: 100%;
}
.navitem.active .btn {
	background: #ccc;
	box-shadow: inset 2px 2px #666;	
}
.navitem.active .btn:hover {
    color: inherit;
}

/* Image */
img {
    max-width: 100%;
}

/* Make footer more spacious */
footer {
    margin: 2em 0;
    font-size: 80%;
}

/* // UBC handin top part */
#ubc-handin {
    display: none;
}

/* // Default selected style override */
::selection {
    /* background: #8884; */
    background: #ebf4f0;
}

/* // Make navbar toggler less busy */
/* .navbar-toggler { padding: 0; border: none; } */

/* // Checkbox */
input.task-list-item-checkbox {
    margin-right: .4em;
    position: relative;
    top: .1em;
}

/* // Blockquote */
blockquote {
    /* @extend .neuemorph-shadow; */
    border-radius: var(--round-radius);
    margin-top: 2em;
    margin-bottom: 2.5em;
    padding: 1em;
}

blockquote p:first-child {
    margin-top: initial;
}

blockquote p:last-child {
    margin-bottom: initial;
}

/* // Embedded iframes */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    max-width: 100%;
}
