h1, h2 {
	font-family: Arial;
}

hr {
	margin-top: 50px;

}

.question {
	border-style: solid;
	border-width: 1px;
	padding: 12px;
}

.choice {
	margin-left: 30px;
	margin-right: 10px;
	margin-top: 10px;
}