---
author: Muchen He

title: Resume
permalink: /resume/customize

layout: default
nav_active: /resume
header:
  color: '#123'
  gradient: 'linear-gradient(105deg, rgba(17,34,51,1) 0%, rgba(125,57,85,1) 100%);'
  text:
  - 'Use this page to customize the resume'
  - '<div class="btn-group mt-3" role="group" aria-label="..."><button id="settingsBtn" type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#resume-settings-modal">Settings</button><button id="resume-print-btn" type="button" class="btn btn-outline-success">Build and Print</button></div>'
---

<style>
@media print {
	body { -webkit-print-color-adjust: exact !important; }
	footer, .navbar, .jumbotron { display: none; }
	.container { max-width: initial; }
}
h1, h2, h3 { font-weight: bold; }
h2, h3 { margin-bottom: 0; line-height: 1; }
h2 { margin-top: .5em; }
h3 { padding-top: .4em; }
ul { list-style-type: square; }
.thickside { border-left: 5px solid black;margin-left: 2px;padding-left: .5em; }
.thinline { line-height: 1.2; }
.thinline p { margin-top: 0; margin-bottom: 0; }
.proj-dates.dark { 
    background: #111;
    color: white;
    padding: 0 .5em;
    border-radius: 5px;
}

#resume-settings-modal form p, #resume-settings-modal form p label { margin-top: 0; margin-bottom: 0; }
#resume-settings-modal h3 { margin-bottom: .5rem; }



</style>

<div class="modal fade" id="resume-settings-modal" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Resume Settings</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <h3>Header</h3>
                <form>
                    <p><label><input type="checkbox" id="header-name-uppercase-select" checked="checked">&nbsp;Name uppercase</label></p>
                    <p><label><input type="checkbox" id="header-show-phone-select" checked="checked">&nbsp;Show phone number</label></p>
                    <p><label><input type="checkbox" id="header-alt-gpa-format-select">&nbsp;Show GPA in x.xx format</label></p>
                    <p><label><input type="checkbox" id="header-show-grad-year-select" checked="checked">&nbsp;Show graduating year</label></p>
                </form>
                <hr>

                <h3>Layout</h3>
                <form>
                    <p>
                        Heading text style:
                        <select id="heading-text-style-select" name="heading-text-style">
                            {% assign i = 0 %}
                            {% for skills_header in site.data.resume.header_titles %}
                            <option value="heading-style-{{ i }}">{{ i }} - {{ skills_header.name }}</option>
                            {% assign i = i | plus: 1 %}
                            {% endfor %}
                        </select>
                    </p>
                    <p><label><input type="checkbox" id="header-text-uppercase-select" checked="checked">&nbsp;Heading text uppercase</label></p>
                </form>

                <hr>
                <h3>Printing</h3>
                <form>
                    Font size: 
                    <select id="printFontSizeSelect" name="fontSize">
                        <option value="default">Default</option>
                        <option value="default+">Default+</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </form>
            </div>

            <div class="modal-footer">
                <button id="resume-settings-save-btn" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- wrapper div for controlling visibility -->
<div id="preview-wrapper" style="display:none">

<div id='resume-header' style='display:flex;justify-content: center;'>
	<div style="text-align:right;border-right:5px solid black" class='pr-2'>
		<h1 id="data-fullname" class='my-0'>{{ page.author }}</h1>
		<p class="my-0 text-muted">University of British Columbia &times; B.ASc Electrical Engineering</p>
	</div>
	<div class='ml-2'>
		<p style='line-height:1em; margin-top:.6em'>i@muchen.ca&nbsp;<span id="data-phone">&times;&nbsp;(778) 952-9222</span><br />Vancouver/Edmonton, Canada</p>
		<p class='text-muted'><span id="data-gpa-alt">4.00</span><span id="data-gpa">90%</span> GPA<span id="data-grad"> &times; Graduating May 2020</span></p>
	</div>
</div>

<div id='resume-skills'>
    <h2>
        {% assign i = 0 %}
        {% for skills_header in site.data.resume.header_titles %}
        <span class="heading-text-multistyle heading-style-{{ i }}">{{ site.data.resume.header_titles[i].skills }}</span>
        {% assign i = i | plus: 1 %}
        {% endfor %}
    </h2>
    <div class="thickside">
        <table>
            <tbody>
                <tr>
                    {% for verb in site.data.resume.skills %}
                    <td><h3>{{ verb.verb | capitalize }}</h3></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for verb in site.data.resume.skills %}
                    <td class="thinline">
                        <p>{{ verb.skills | join: ', ' }}</p>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>    

<div id="resume-experience">
	<h2>
        {% assign i = 0 %}
        {% for skills_header in site.data.resume.header_titles %}
        <span class="heading-text-multistyle heading-style-{{ i }}">{{ site.data.resume.header_titles[i].exp }}</span>
        {% assign i = i | plus: 1 %}
        {% endfor %}
	</h2>
	<div class="thickside">
		{% assign i = 0 %}
		{% for exp in site.data.resume.experience %}
			<div id="exp-{{ i }}" class="thinline">
				<h3>{{ exp.position }}</h3>
				<p class="text-muted">
					<span style="font-weight: bold; font-size: 1.2em">{{ exp.company }}</span>&nbsp;&vert;&nbsp;
					<span>{{ exp.start }} - {{ exp.end }}</span>&nbsp;&vert;&nbsp;
					<span>{{ exp.duration }}</span>
				</p>
				<ul class="my-1">
					{% for do in exp.doings %}
						<li>{{ do }}.</li>
					{% endfor %}
				</ul>
			</div>
			{% assign i = i | plus: 1 %}
		{% endfor %}
	</div>
</div>

<div id="resume-projects">
	<h2>
        {% assign i = 0 %}
        {% for skills_header in site.data.resume.header_titles %}
        <span class="heading-text-multistyle heading-style-{{ i }}">{{ site.data.resume.header_titles[i].proj }}</span>
        {% assign i = i | plus: 1 %}
        {% endfor %}
	</h2>
	<div class="row thickside">
		{% assign i = 0 %}
		{% for project in site.data.projects %}
			{% if project.worthy %}
				<div id="proj-{{ i }}" class="col-3 pl-0 pr-1 thinline project-type-{{ project.type | lowercase }}"">
					<h3>{% if project.name_short %}<span class="proj-name-short">{{ project.name_short }}{% endif %}<span class="proj-name-full">{{ project.name }}</span></h3>
					<p><small class="proj-dates">{{ project.dates.end | date: "%b %Y" }}</small></p>
					<p class="proj-desc">{{ project.description }}</p>
					<small><span id="proj-tech-used-prepend"></span><em>{{ project.tech | join: ', ' | truncatewords: 12 }}</em></small>
				</div>
				{% assign i = i | plus: 1 %}
			{% endif %}
		{% endfor %}
	</div>
</div>


<div id="resume-hobbies">
	<h2>
	    {% assign i = 0 %}
        {% for skills_header in site.data.resume.header_titles %}
        <span class="heading-text-multistyle heading-style-{{ i }}">{{ site.data.resume.header_titles[i].likes }}</span>
        {% assign i = i | plus: 1 %}
        {% endfor %}
	</h2>
	<div class="thickside">
		<div class="thinline">
		<p class="text-muted">{{ site.data.resume.likes | join: ', ' }}</p>
		</div>
	</div>
</div>


<h2>
    {% assign i = 0 %}
    {% for skills_header in site.data.resume.header_titles %}
        {% if site.data.resume.header_titles[i].rand %}
            <span class="heading-text-multistyle heading-style-{{ i }}">{{ site.data.resume.header_titles[i].rand }}</span>
        {% endif %}
    {% assign i = i | plus: 1 %}
    {% endfor %}
</h2>

</div>

<!-- Wrapper placeholder -->
<div id="preview-wrapper-ph" class="text-center">
    <h3 class="display-4 my-5">Click on "Settings" to begin</h3>
</div>


<script>
$(document).ready(()=> {
    $('#resume-settings-save-btn').on('click', updateResumeSettings);
});

function updateResumeSettings() {
    
    // Obtain header settings
    const IS_NAME_UPPERCASE = $('#header-name-uppercase-select').prop('checked');
    const IS_VISIBLE_PHONE = $('#header-show-phone-select').prop('checked');
    const IS_ALTERNATE_GPA = $('#header-alt-gpa-format-select').prop('checked');
    const IS_VISIBLE_GRAD_YEAR = $('#header-show-grad-year-select').prop('checked');
    
    // Apply header settings
    $('#data-fullname').css('text-transform', IS_NAME_UPPERCASE ? 'uppercase' : '');
    if (IS_VISIBLE_PHONE) {
        $('#data-phone').show()
    } else {
        $('#data-phone').hide();
    }
    if (IS_ALTERNATE_GPA) {
        $('#data-gpa-alt').show();
        $('#data-gpa').hide();
    } else {
        $('#data-gpa-alt').hide();
        $('#data-gpa').show();
    }
    if (IS_VISIBLE_GRAD_YEAR) {
        $('#data-grad').show()
    } else {
        $('#data-grad').hide();
    }
    
    // Obtain layout information
    const HEADING_TEXT_STYLE = $('#heading-text-style-select option:selected').val();
    const IS_HEADING_UPPERCASE = $('#header-text-uppercase-select').prop('checked');

    // Apply layout information
    $('.heading-text-multistyle:not(' + HEADING_TEXT_STYLE + ')').hide();
    $('.heading-text-multistyle.' + HEADING_TEXT_STYLE).show();
    $('.heading-text-multistyle').css('text-transform', IS_HEADING_UPPERCASE ? 'uppercase' : '');

    // Show preview and remove placeholder
    $('#preview-wrapper').show();
    $('#preview-wrapper-ph').hide();
}

</script>