---
title: Resume
permalink: /resume
layout: default
nav_active: /resume
---

<style>
.neucard {
	border-radius: 12px;
	background: #f2f2f2;
	box-shadow:  12px 12px 40px #cecece, 
				-12px -12px 40px #ffffff;
	padding: .5em 1em;
	margin-bottom: 1.5em;
}
.neucard-inverse {
	border-radius: 12px;
	background: #ffffff;
	box-shadow: inset 12px 12px 40px #d9d9d9, 
				inset -12px -12px 40px #ffffff;
}
h1, h2, h3 { font-weight: lighter }
h2 { border-bottom: 1px solid #ddd; margin-bottom: .4em; font-size: 1.5em;}
span.sk { padding: .1em .25em; border-radius: 3px; background-color: #d9d9d9; color: #222; }
div.re-content { font-size: 14px; }
@media (min-width: 768px) { div.col-md-4 { padding-right: 0; } }

@media (prefers-color-scheme: dark) {
	.neucard {
	background: #080808;
	box-shadow:  12px 12px 40px #000000, 
				-12px -12px 40px #151515;
}
}
</style>

<div class="my-4"></div>

<div class="row">
	<div class="col-md-4">
		<div class="re-content" style="text-align: center;">
			<div>
				<img class="neucard" src="/assets/img/light-512.jpeg" alt="face" style="max-width: 128px; border-radius: 50%; background: none; border:none; padding: 0" >
				<h1 style="font-size: 2.5em">Muchen He</h1>
				<p>M.A.Sc Student at the University of British Columbia</p>
			</div>
			<!-- <div style="text-align: right;">
				<p>i@muchen.ca</p>
				<p>(778) 952-9222</p>
				<p>Vancouver, Canada</p>
			</div> -->
		</div>
		
		
		<div class="neucard">
			<h2>Skills</h2>
			<div class="re-content" style="line-height: 1.7">
				{% for skill in site.data.resume.skills_new %}
				<span class="sk">{{ skill }}</span>
				{% endfor %}
			</div>
		</div>
	
	
		<div class="neucard">
			<h2>Education</h2>
			<div class="re-content">
				<p>B.A.Sc in Electrical Engineering</p>
				<p>University of British Columbia</p>
				<p>2015-2020</p>
			</div>
		</div>
	</div>
	
	<div class="col-md-8">
		
		<div class="neucard">
			<h2>Experiences</h2>
			<div class="re-content">
				{% for exp in site.data.resume.experience %}
				<div>
					<span class="btn btn-xs btn-dark" style="font-weight: bold; font-size: 16px;">{{ exp.company }}</span>
					<p>{{ exp.position }}</p>
					<p>
						<span>{{ exp.company }}</span>&nbsp;&vert;&nbsp;
						<span>{{ exp.start }} - {{ exp.end }}</span>
					</p>
					<ul style="padding-inline-start: 1.5em;">
						{% for do in exp.doings %}
						<li>{{ do }}.</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>

<div style="background: repeating-linear-gradient(-55deg,#222,#222 10px,#f94 10px,#f94 20px); text-align: center; border-radius: 1em" class="my-5 p-2">
	<p class="m-0 p-3 glass" style="border-radius: 1em">This page is still WIP</p>
</div>

<div class = "neucard">
	<h3>Projects</h3>

	<div class="row" style="padding: 1em">
	{% assign i = 0 %}
	{% for project in site.data.projects %}
		{% if project.worthy %}
			<div class="col-3" style="max-height: 300px; overflow:hidden">
				<div>

					<h3>{% if project.name_short %}{{ project.name_short }}{% else %}{{ project.name }}{% endif %}</h3>
					<p><small>{{ project.dates.end | date: "%b %Y" }}</small></p>
					<p>{{ project.description }}</p>
					{% if page.projs_display_tech_used %}<small>Tech used: <em>{{ project.tech | join: ', ' | truncatewords: 12 }}</em></small>{% endif %}
				</div>
			</div>
			{% assign i = i | plus: 1 %}
			{% if i == page.proj_max_display %}{% break %}{% endif %}
		{% endif %}
	{% endfor %}
	</div>
</div>


<div class="my-5">separate</div>


<div id="resume-hobbies">

	<div class="thickside">
		<div class="thinline">
		<p class="text-muted">{{ site.data.resume.likes | join: ', ' }}</p>
		</div>
	</div>
</div>
