---
layout: default
title: Blog
nav_active: /blog
---

<style>
.mono { font-family: monospace; }
table.archive { width: 100%; }
table.archive td:first-child { width: 1%; white-space: nowrap; }
table.archive td { vertical-align: top; }
</style>

<h1>Muchen's Stack Trace</h1>
<p>Blog archived by date. Occasional memory dump of various things. I have lots of bugs, you might learn a thing or two (or not) from my crash logs.</p>

{% assign date-filter = "%Y" %}
{% for post in site.posts %}
  {% assign post_date = post.date | date: date-filter %}
  {% if post_date != date %}
    {% unless forloop.first %}</table>{% endunless %}
    {% assign date = post_date %}
    <h2>{{ post_date }}</h2>
    <table class="archive mb-4">
  {% endif %}

  <tr>
    <td><span class="date float-sm-end mono">{{ post.date | date: "%Y-%m-%d" }}</span></td>
    <td><a href="{{ post.url }}">{{ post.title }}</a></td>
  </tr>

  {% if forloop.last %}</table>{% endif %}
{% endfor %}
{% endfor %}
