.sidepan{
    padding: 0px;
    height: 180px;
    overflow: hidden;
}

.sidepan > a {
    text-decoration: none;
    color: white;
}

.sidepan-container {
    height:100%;
    width:100%;
    position:absolute;
}
.sidepan-container > h2, .sidepan-container > p{
    margin: 10px;
}

body {
  -webkit-transform: translate3d(0, 0, 0);
}

.sidepan_img {
    display:block;
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
    margin-top: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-transition: margin 0.3s ease;
    -webkit-backface-visibility: hidden;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    -ms-transition: margin 0.3s ease;
    transition: margin 0.2s ease-in-out;
}
.sidepan:hover > .sidepan_img, .sidepan:active > .sidepan_img{
    margin-top: 180px;
}
