<html>
<head>
	<title>Home | Muchen He</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" border-md border-r-md = "IE=edge" />

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	<link rel="shortcut icon" href="/img/icon.png" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<div>
		<!-- Top -->
		<header>
			<a href = "/login"><img class = "headshot" src = "http://i.imgur.com/g1UoD1D.jpg" alt = "face"></img></a>
			<h1>MUCHEN HE</h1>
			<a href = "/home" class = "no-decor"><h3><em>{{isPython}}</em></h3></a>
			<p>Second Year Engineering Undergraduate, University of British Columbia</p>
		</header>

		<!-- Nav bar here -->
		<nav class = "navbar home-nav">
			<ul class = "nav home-nav">
				<li class = "home-nav"><a class = "no-decor" id = "no-decor_about_me"
					title = "About Me" href = "#about_me">About Me</a></li>
				<li class = "home-nav"><a class = "no-decor" id = "no-decor_recent_proj"
					title = "Recent Projects" href = "#recent_proj">Recent Projects</a></li>
				<li class = "home-nav"><a class = "no-decor" id = "no-decor_contact"
					title = "Contact" href = "#contact_card">Contact</a></li>
			</ul>
		</nav>

		<!--Contents begin here-->
		<!-- About me -->
		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bsm">
				<div class = "border-md border-r-md padding-md" id = "about_me">
					<h2>About Me</h2>
					<hr>
					<div class = "border-light padding-md">
						<a href = "#about_education" data-toggle = "collapse" id = "_about_education">
							<i class = "glyphicon glyphicon-chevron-up padding-md float-right border-light"></i>
						</a>
						<h3>Education</h3>
						<div id = "about_education" class = "collapse in">
							<img src = "img/ubc-icon.png" height = 50></img>
							<strong class = "display-inline-block">
								<p><a href = "https://engineering.ubc.ca/">University of British Columbia</a></p>
							</strong>
							<span class="label label-primary">Enrolled since 2015</span>
							<p>Currently enrolled as a second year undergraduate student in the faculty of
								engineering and specializing in Electric Engineering option.</p>

							<strong class = "display-inline-block">
								<p><a href = "http://ainlay.ca/">Harry Ainlay High School</a></p>
							</strong>
							<span class = "label label-success">Graduated (2015)</span>
							<p>Honours student through out all three years of high school. Awarded being <em>Best
								Student in CTS: Design Studies</em>	and one of <em>Best Students in CTS: Computer
								Science</em>.</p>
							<p>Started multiple clubs including <em>Film Production Club</em>, <em>3D printing
								CNC machining club</em>, and <em>Unmanned Aerial Vehicles (Drones) Club</em>.</p>
							<p>Teacher's assistant and project advisor for multiple courses including
								<em>Industrial/Mechanical Design Studies</em>, <em>Architectural Design Studies</em>,
								<em>Pre-Engineering/Robotics</em>, and <em>Computer Science</em>
							</p>
						</div>

						<hr/>
						<a href = "#about_skills" data-toggle = "collapse" id = "_about_skills">
							<i class = "glyphicon glyphicon-chevron-up padding-md float-right border-light"></i>
						</a>
						<h3>Skills</h3>
						<div id = "about_skills" class = "collapse in">
							<ul>
								<li>Fluent in both English and Mandarin</li>
								<li>Team worker with strong leadership and effective communications</li>
								<li>Takes initiatives</li>
								<li>Patient and helpful when teaching and helping others</li>
								<li>Great organization skills with ability to divide work among peers</li>
								<br/>
								<li>Advanced skills in 3D modelling using programs such as Autodesk Inventor,
									Solidworks, and Autodesk Revit</li>
								<li>Various experiences with robotics, electronics, CNC machining, and 3D printing</li>
								<li>Excellent with technologies including computers and portable devices</li>
								<li>Excellent with graphics design and other media work</li>
								<br/>
								<li>Detail oriented and independent worker</li>
								<li>Excellent with hands-on and practical tasks</li>
								<li>Effective and efficient at carrying out tasks and instructions</li>
								<li>Listener and visual learner</li>
							</ul>
						</div>

						<hr/>
						<a href = "#about_work" data-toggle = "collapse" id = "_about_work">
							<i class = "glyphicon glyphicon-chevron-up padding-md float-right border-light"></i>
						</a>
						<h3>Work Experience</h3>
						<div id = "about_work" class = "collapse in">
							<strong>Cashier, Waiter, Dishwasher, and Chef Assistant at a Bubble Tea Cafe</strong>
							<span class = "label label-primary">2015-present</span>
							<span class = "label label-default">Reference available</span>
							<ul>
								<li>Multitask to fulfill tasks of multiple roles such as taking orders, making
									bubble tea, and fry at the same time</li>
								<li>Preparation of food and cooking equipment for the chef</li>
								<li>Keeping the workstation and restrooms sanitized</li>
							</ul>

							<strong>Android Software Development Intern at University of Alberta </strong>
							<span class="label label-success">Summer 2014</span>
							<ul>
								<li>Learning Android software development and applications from university graduates</li>
								<li>Developed Android game for treatment and analysis of disabled people</li>
								<li>Working in a student team and well communicated within</li>
								<li>Delivered professional oral presentation for the project</li>
							</ul>
						</div>

						<hr/>
						<a href = "#about_volunteer" data-toggle = "collapse" id = "_about_volunteer">
							<i class = "glyphicon glyphicon-chevron-up padding-md float-right border-light"></i>
						</a>
						<h3>Volunteering Experience</h3>
						<div id = "about_volunteer" class = "collapse in">
							<strong>Destionation UBC 2016 Volunteer</strong>
							<span class="label label-success">2016</span>
							<p>Destionation UBC is an organized event where prospective students come tour UBC.
								My role is a station in scavenger hunt which include tasks such as organizing
								student groups, handing out tips cards, moving tables for setup, and clean-up.
								Our qualifications include being welcoming with smiles and an outgoing personality</p>
							</p>

							<strong>Campus and Faculty Events Photographer</strong>
							<span class="label label-primary">2015-present</span>
							<p>My task is to go around campus and always be ready to take photo during
								organized events. I also use <em>Adobe Lightroom</em> and <em>Photoshop</em> for
								post-processing on photos</p>

							<strong>Produced Educational Video for Local Community Service</strong>
							<span class="label label-success">2016</span>
							<span class = "label label-default">Reference available</span>
							<p>[Volunteering Description]: Options Community Service, Reading Week</p>

							<strong>Technical design leader and rapid prototyping specialist in high school</strong>
							<span class="label label-success">2013-2015</span>
							<span class = "label label-default">Reference available</span>
							<p>[Volunteering Description]</p>

							<strong>Teacher's assitant for multiple classes in high school</strong>
							<span class="label label-success">2014-2015</span>
							<span class = "label label-default">Reference available</span>
							<p>[Volunteering Description]</p>

							<strong>Technology representative for for high school open house</strong>
							<span class="label label-success">2015</span>
							<span class = "label label-default">Reference available</span>
							<p>[Volunteering Description]: include 2 coures: pre-eng/robotics, CS</p>

							<strong>Community Charity Running Event Volunteer</strong>
							<span class="label label-success">2015</span>
							<p>[Volunteering Description]: GEOMEER</p>

							<strong>Yearbook Graphics Design Leader</strong>
							<span class="label label-success">2012</span>
							<p>[Volunteering Description]</p>

							<strong>Community PSA Video Production</strong>
							<span class="label label-success">2011</span>
							<p>[Volunteering Description]: Featured at Edmonton City Centre</p>
						</div>

						<hr/>
						<a href = "#about_activity" data-toggle = "collapse" id = "_about_activity">
							<i class = "glyphicon glyphicon-chevron-up padding-md float-right border-light"></i>
						</a>
						<h3>Activities, Competitions, and Hobbies</h3>
						<div id = "about_activity" class = "collapse in">
							•	Building and flying drones
							•	Programming in variety of different languages
							•	Electronic work including soldering and tinkering
							•	Technical design and rapid prototyping
							•	Web design
							•	Video production
							•	Photography
							•	Drawing or sketching
							•	Playing the piano
						</div>
					</div>
				</div>
			</div>

			<!-- Recent Project -->
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bsm">
				<div class = "border-md border-r-md padding-md" id = "recent_proj">
					<h2>Recent Projects</h2>
					<hr/>
					<div class = "border-light">
						<ul class = "nav">
							<a class = "no-decor" href = "/login"><li class = "nav recent-projects-nav padding-hmd">
								<h3>Simple Login</h3>
								<p>Made using home made python script</p>
							</li></a>
							<a class = "no-decor" href = "#"><li class = "nav recent-projects-nav padding-hmd">
								<h3>Guestbook</h3>
								<p>Still WIP, link does not work</p>
							</li></a>
							<a class = "no-decor" href = "#"><li class = "nav recent-projects-nav padding-hmd">
								<h3>Placeholder Link</h3>
								<p>This is just a placeholder, nothing special</p>
							</li></a>
						</ul>
					</div>
				</div>
			</div>

			<!-- placeholder for now -->
			<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bsm">
				<div class = "border-md border-r-md padding-md">
					<h2>Placeholder Section</h2>
					<hr/>
					<div class = "border-light padding-md">
						<p>Placeholder text is right here :)</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Carousel -->
		<div id = "main_carousel" class = "carousel slide">
		  <ol class = "carousel-indicators">
		    <li data-target = "#main_carousel" data-slide-to = "0" class = "active"></li>
		    <li data-target = "#main_carousel" data-slide-to = "1"></li>
		    <li data-target = "#main_carousel" data-slide-to = "2"></li>
		    <li data-target = "#main_carousel" data-slide-to = "3"></li>
		  </ol>
		  <div class = "carousel-inner">
		    <div class = "item active">
		      <img src = "http://i.imgur.com/u5GM6iu.jpg" alt = "Paul"></img>
		    </div>
		    <div class = "item">
		      <img src = "http://i.imgur.com/oUpZbg7.jpg" alt = "Zoy"></img>
		    </div>
		    <div class = "item">
		      <img src = "http://i.imgur.com/nvOtIDW.jpg" alt = "Pink"></img>
		    </div>
		    <div class = "item">
		      <img src = "http://i.imgur.com/SBUaZz1.jpg" alt = "Closed"></img>
		    </div>
		  </div>

		  <!-- Carousel controls -->
		  <a class = "carousel-control left" href = "#main_carousel" data-slide = "prev">
		    <span class = "icon-prev"></span>
		  </a>
		  <a class = "carousel-control right" href = "#main_carousel" data-slide = "next">
		    <span class = "icon-next"></span>
		  </a>
		</div>

		<!-- Footer -->
		<footer>
			<table class = "card" id = "contact_card">
			  <tr>
			    <th>Contact:</th>
			    <td>Muchen (Mansur) He</td>
			  </tr>
			  <tr>
			    <th rowspan="2">Email:</th>
			    <td><i class="fa fa-external-link" aria-hidden="true"></i> <a href="mailto:i@mansurhe.com">i@mansurhe.com</a></td>
			  </tr>
			  <tr>
			    <td><i class="fa fa-external-link" aria-hidden="true"></i> <a href="mailto:m.he@alumni.ubc.ca">m.he@alumni.ubc.ca</a></td>
			  </tr>
				<tr>
					<th>Phone:</th>
					<td>(778) 952-9222</td>
				</tr>
				<tr>
					<th rowspan="2">Address:</th>
					<td>MD0544 2205 Lower Mall</td>
				</tr>
				<tr>
					<td>Vancouver, BC, V6T 1Z4</td>
				</tr>
			</table>

			<div>
				<a role="button" class="btn btn-default btn-circular btn-lg" href = "https://www.facebook.com/FSXAC">
					<i class="fa fa-facebook"></i></a>
				<a role="button" class="btn btn-default btn-circular btn-lg" href = "https://github.com/FSXAC">
					<i class="fa fa-github"></i></a>
				<a role="button" class="btn btn-default btn-circular btn-lg" href = "https://www.youtube.com/fsxaircanada01">
					<i class="fa fa-youtube"></i></a>
			</div>

			<hr/>

			<div>
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
				<img alt="Creative Commons License" style="border-width:0; height:1.5em;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
				</a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">This website</span> by
				<span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Muchen He</span>
				is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
				Creative Commons Attribution-ShareAlike 4.0 International License</a>
			</div>
		</footer>
	</div>

	<script>
		// carousel movement
		$('#main_carousel').carousel({
		  interval: 4000,
		  pause: "false"
		});

		// collapsable button glyphicon toggle
		$('#_about_education').click( function(){
	    $(this).find('i').toggleClass('glyphicon-chevron-up').toggleClass('glyphicon-chevron-down');
		});
		$('#_about_skills').click( function(){
	    $(this).find('i').toggleClass('glyphicon-chevron-up').toggleClass('glyphicon-chevron-down');
		});
		$('#_about_volunteer').click( function(){
	    $(this).find('i').toggleClass('glyphicon-chevron-up').toggleClass('glyphicon-chevron-down');
		});
		$('#_about_activity').click( function(){
	    $(this).find('i').toggleClass('glyphicon-chevron-up').toggleClass('glyphicon-chevron-down');
		});
	</script>

</body>
</html>
