body {
    padding: 20px;
    font-family: "Segoe UI", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 5px 0;
}

img.avatar {
    border-radius: 50%;
    width: 190px;
    transition: 0.2s all ease-in-out;
}
img.avatar:hover {
    width: 200px;
    border-radius: 10%;
}

div.contact {
    margin: 20px auto;
}

div.menu {
    margin-top: 20px;
    text-align: center;
}

div.circular {
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    border: 1px solid #EEE;
    width: 100px;
    height:100px;
    line-height: 100px;
    transition: 0.2s all ease-in-out;
}

div.circular:hover {
    color: white;
    background-color: #003;

    box-shadow: 0px 0px 3px 0px #000;
}

div.circular:active {
    transform: rotate(45deg);
}

h1 {
    font-weight: 100;
    font-size: 5rem;
    margin: 10px;
}

h2 {
    font-weight: 200;
    font-size: 3rem;
    margin: 5px;
}

h3 {
    font-weight: 200;
    font-size: 1.5rem;
    margin: 0;
}

header {
    text-align: center;
}

th {
    text-align: right;
    font-weight: 600;
}

td {
    padding-left: 10px;
}

hr {
    border: 1px solid #EEE;
}

.muted {
    color: #888
}

.display-inline-block {
    display: inline-block;
}

.ext-link {
    border-radius: 3px;
    background-color: #FFF;
    padding: 1px 3px;
    border: 1px solid #EEE;
    transition: 0.2s all ease-in-out;
}

.ext-link:hover {
    background-color: #DDD;
    border: 1px solid #AAA
}

.center {
    width: 300px;
    margin: auto;
}

.fancy-hover {
    transition: 0.2s all ease-in-out;
}
.fancy-hover:hover {
    color: white;
    background-color: #003;
}
