<!DOCTYPE html>
<html lang="en">
<head>
<title>{% if page.use_category_instead_of_name %}{{ page.categories }}{% else %}{{ page.author }}{% endif %} :: {% if page.titlebar %}{{ page.titlebar }}{% else %}{{ page.title }}{% endif %}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Muchen's page{% endif %}" />
<meta name="author" content="{{ page.author }}" />
<link rel="icon" href="/favicon.ico" type="image/x-icon">	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/fonts/Suisse/styleA.css">
<link rel="stylesheet" href="/assets/css/default.css">
{% for line in page.extra_css %}{{ line }}{% endfor %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% if page.use_math %}{% include mathjax %}{% endif %}
{% for line in page.extra_js %}{{ line }}{% endfor %}
</head>

<body>
	{% if page.show_navigation %}{% include navigation %}{% endif %}
	{% if page.watermark %}{% include watermark.html text=page.watermark %}{% endif %}
	{{ content }}
	{% if page.show_footer %}{% include footer.html %}{% endif %}
	{% if page.use_lightbox %}{% include figure_lightbox.html %}{% endif %}
</body>
</html>
