---
layout: minimum
---

<style>
#blog-content img {
	max-width: 100%;
}
</style>

<header class="jumbotron jumbotron-fluid px-3 py-5">
	<div class="container">
		{% if page.header_image %}<img class="avatar" src="{{ page.header_image }}"
			alt="{{ page.header_image }}">{% endif %}
		<h1 class="display-4 text-light">{{ page.title }}</h1>
		{% for htext in page.header_text %}<p class="text-light">{{ htext }}</p>{% endfor %}
		{% for extra in page.header_extra %}{{ extra }}{% endfor %}
	</div>
</header>

<div id='blog-content' class="container">
	{{ content }}
</div>