---
layout: basic
---

<header class="jumbotron jumbotron-fluid py-5" style="
{% if page.header.overlay_image %}
background:url('{{ page.header.overlay_image }}') no-repeat center center;
background-size:cover;
min-height:300px;
{% else %}
background:linear-gradient(170deg, #406177 0%, #001624 100%);
{% endif %}
">
<div class="container p-3 glass-dark" style="border-radius: var(--round-radius);">
	{% if page.categories != empty %}
	<small class="text-light" style="letter-spacing: 2px">
		{% for category in page.categories %}
		{{ category | upcase }}{% unless forloop.last %}, {% endunless %}
		{% endfor %}
	</small>
	{% endif %}

	<h4 class="text-light">{{ page.title }}</h4>
	<p class="mt-4 mb-2 pb-3 text-light">
		<span class="float-start">Published {{ page.date | date: "%Y-%m-%d" }}</span>
		{% assign words = content | number_of_words %}
		<span class="float-end">{% if words < 360 %}1 min{% else %}{{ words | divided_by:180 }}&nbsp;min{% endif %}&nbsp;read</span>
	</p>
	</div>
</header>

<div id='c-content' class="container my-5">
	{{ content }}
</div>