---
layout: minimum
---

<style>
@media print {
	body { -webkit-print-color-adjust: exact !important; }
	footer, .navbar, .jumbotron { display: none; }
	.container { max-width: initial; }
}

h1, h2, h3 { font-weight: bold; }
h2, h3 { margin-bottom: 0; line-height: 1; }
h2 { margin-top: .5em; }
h3 { padding-top: .4em; }
ul { list-style-type: square; }
.thickside { border-left: 5px solid black;margin-left: 2px;padding-left: .5em; }
.thinline { line-height: 1.2; }
.thinline p { margin-top: 0; margin-bottom: 0; }
</style>

<header class="jumbotron jumbotron-fluid jumbotron-color py-5">
	<div class="container">
		<h1 class="display text-light">{{ page.title }}</h1>
		{% for htext in page.header.text %}<p class="text-light">{{ htext }}</p>{% endfor %}
		<!-- <div class="btn-group mt-3" role="group" aria-label="...">
			<button id="buildBtn" type="button" class="btn btn-outline-primary">Print</button>
		</div> -->
	</div>
</header>

<div id='main' class="container">
	{{ content }}
</div>